---
layout: page
comments: false
lang: it
title: "CryptoWeek"
subtitle: "Il commento alle news della settimana"
youtubeplaylist: PLTLa2tRY91LI9MN6-_ai0J6jTRcY8znDc
permalink: /cryptoweek
---

<section id="cryptoweeks" class="">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">CryptoWeek</h2>
            <hr class="primary">
        </div>
        <h3>Questa settimana ci vediamo sabato alle 10, per lasciare spazio
            alla conferenza <a href="https://cryptoassetlab.diseade.unimib.it/cal2021/">CAL2021</a></h3>
        </h3>
        <div class="row col-lg-8 col-lg-offset-2">
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/playlist?list=PLTLa2tRY91LI9MN6-_ai0J6jTRcY8znDc'
                    frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                <br>
                Ogni venerdì alle 18:00 in live-streaming
                (<a
                    href="https://www.youtube.com/playlist?list=PLTLa2tRY91LI9MN6-_ai0J6jTRcY8znDc"><em>YouTube</em></a>,
                <a href="https://www.linkedin.com/school/digital-gold-institute/videos"><em>LinkedIn</em></a>,
                <a href="https://www.facebook.com/watch/2010536319214039/1638907002982251"><em>Facebook</em></a>
                e successivamente
                <a href="https://www.buzzsprout.com/1686991"><em>podcast</em></a>)
                il nostro direttore scientifico
                <a href="https://www.ametrano.net"><em>Ferdinando M. Ametrano</em></a>
                commenta quanto di rilevante è accaduto nel corso della settimana
                in ambito Bitcoin, crypto-asset e blockchain,
                rispondendo anche alle domande del pubblico.
            </p>
            <p class="text-muted">
                Sponsorizzato da <a href="https://checksig.io">CheckSig</a>,
                il bitcoin sicuro e semplice per investitori istituzionali e
                persone ad alta patrimonializzazione.
            </p>
            <a
                href="https://group.intesasanpaolo.com/it/sezione-editoriale/intesa-sanpaolo-on-air?utm_campaign=GoldInstitute&utm_source=GoldInstitute&utm_medium=Banner_CPM&utm_content=DisplayAwareness&utm_term=GoldInstitute_Banner_CPM_GoldInstitute_">
                <img src="{{ site.baseurl }}/img/events/ISP_ON_AIR_LEADERBOARD_728X90.jpg" width="100%">
            </a>
            <div id='buzzsprout-large-player-1686991'></div>
            <script type='text/javascript' charset='utf-8'
                src='https://www.buzzsprout.com/1686991.js?container_id=buzzsprout-large-player-1686991&player=large'></script>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="posts col-lg-8 col-lg-offset-2">
                <br>
                <p class="text-muted">Link alle puntate precedenti:</p>
                {% for post in site.posts %}
                {% if post.cryptoweek %}
                <ul>
                    <li>
                        <p class="text-muted">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%b
                            %e,
                            %Y"
                            }})
                        </p>
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ site.baseurl }}/" class="btn btn-primary btn-xl">Homepage</a>
    </div>
</section>