---
layout: page
comments: false
lang: it
title: "CryptoWeek"
subtitle: "Il commento di Ferdinando Ametrano alle crypto-news della settimana"
youtubeplaylist: PLtlgRmG7i2ym9Ri_9G5A-pxi_S669nQgd
permalink: /cryptoweek
---

<section id="cryptoweeks" class="">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">CryptoWeek</h2>
            <hr class="primary">
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <div class='embed-container'>
                <iframe src='https://www.youtube.com/embed/playlist?list=PLtlgRmG7i2ym9Ri_9G5A-pxi_S669nQgd'
                    frameborder='0' allowfullscreen></iframe>
            </div>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                <br>
                Il commento di
                <a href="https://www.ametrano.net">Ferdinando Ametrano</a>
                alle <em>crypto-news</em> della settimana:
                ogni venerdì alle 18 in <em>live-streaming</em> su
                <a href="https://www.youtube.com/c/CheckSig" target="_blank" rel="noreferrer noopener">YouTube</a>,
                <a href="https://www.linkedin.com/company/checksig" target="_blank" rel="noreferrer noopener">LinkedIn</a>,
                <a href="https://www.facebook.com/checksig.safe" target="_blank" rel="noreferrer noopener">Facebook</a> e
                <a href="https://twitter.com/CheckSig_safe" target="_blank" rel="noreferrer noopener">Twitter</a>;
                subito dopo, anche <em>podcast</em>
                (<a href="https://open.spotify.com/show/3jU0GJ51dRK4TNkAJC3wt4" target="_blank" rel="noreferrer noopener">Spotify</a>,
                <a href="https://podcasts.apple.com/it/podcast/bitcoin-italia-podcast/id1448127905" target="_blank" rel="noreferrer noopener">Apple</a>,
                <a href="https://music.amazon.com/podcasts/4c459490-f71e-435d-9a36-451ad65a5421/cryptoweek" target="_blank" rel="noreferrer noopener">Amazon</a>,
                <a href="https://cryptoweek.buzzsprout.com" target="_blank" rel="noreferrer noopener">ecc.</a>).
            </p>
            <p class="text-muted">
                Offerto da <a href="https://checksig.com/it">CheckSig</a>,
                soluzioni bitcoin e cripto per investitori privati e istituzionali.
            </p>
            <a
                href="https://group.intesasanpaolo.com/it/sezione-editoriale/intesa-sanpaolo-on-air?utm_campaign=GoldInstitute&utm_source=GoldInstitute&utm_medium=Banner_CPM&utm_content=DisplayAwareness&utm_term=GoldInstitute_Banner_CPM_GoldInstitute_">
                <img src="{{ site.baseurl }}/img/events/ISP_ON_AIR_LEADERBOARD_728X90.jpg" width="100%">
            </a>
            <div id='buzzsprout-large-player-1686991'></div>
            <script type='text/javascript' charset='utf-8'
                src='https://www.buzzsprout.com/1686991.js?container_id=buzzsprout-large-player-1686991&player=large'></script>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="posts col-lg-8 col-lg-offset-2">
                <br>
                <p class="text-muted">Link alle puntate precedenti:</p>
                {% for post in site.posts %}
                {% if post.cryptoweek %}
                <ul>
                    <li>
                        <p class="text-muted">
                            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%b
                            %e,
                            %Y"
                            }})
                        </p>
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ site.baseurl }}/" class="btn btn-primary btn-xl">Homepage</a>
    </div>
</section>