---
layout: page
lang: en
title: Events
description: Next events
permalink: /events/
---

<section id="next-events" class="events">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Prossimi Eventi / Next Events</h2>
            <hr class="primary">
        </div>
    </div>
    <!--div class="container" style="margin-bottom:+20px;">
        <div class="row col-lg-8 col-lg-offset-2">
            <img src="{{ site.baseurl }}/img/events/dgi-events.jpg" alt="Save the date" width="400" height="auto">
        </div>
    <div-->
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            {% assign events = site.data.events | sort: 'date' %}
            {% assign today_date = 'today' | date: '%y %m %d' %}
            <ul>
                {% for event in events %}
                    {% assign event_date = event.date | date: '%y %m %d' %}
                    {% if event.date2 %}
                        {% assign event_date = event.date2 | date: '%y %m %d' %}
                    {% endif %}
                    {% if event_date >= today_date and event.published %}
                    <li>
                        <h4>{{ event.title }}
                            {% if event.subtitle %}
                                <br>{{ event.subtitle }}
                            {% endif %}
                        </h4>
                        <p class="text-muted">
                            {{ event.city }},
                            {% include format_dates.html date=event.date date2=event.date2 lang=event.lang %}
                            {% if event.hours %}
                                ({{ event.hours }})
                            {% endif %}

                            <br>
                            {% if event.lang == "it" %}
                                Organizzato da: {{ event.organizer }}
                            {% else %}
                                Organized by: {{ event.organizer }}
                            {% endif %}
                            
                            <br>
                            {% if event.lang == "it" %}
                                Presso: {{ event.address }}
                            {% else %}
                                Location: {{ event.address }}
                            {% endif %}
                            
                            <br>
                            {% if event.lang == "it" %}
                                Informazioni:
                            {% else %}
                                Information:
                            {% endif %}
                            {% if event.info.url %}
                                <a href="{{ event.info.url }}">{{ event.info.text }}</a>
                            {% else %}
                                {{ event.info.text}}
                            {% endif %}

                            {% if event.discount_code_publish %}
                                <br>
                                {% if event.lang == "it" %}
                                    Codice di sconto riservato: <em>{{ event.discount_code }}</em>
                                {% else %}
                                    Exclusive discount code: <em>{{ event.discount_code }}</em>
                                {% endif %}
                            {% endif %}

                            {% if event.image.main %}
                                <br>
                                {% if event.info.url %}
                                    <a href="{{ event.info.url }}">
                                    <img src="{{ site.baseurl }}/img/events/{{ event.image.main }}" height="{{ event.image.size }}">
                                    </a>
                                {% else %}
                                    <img src="{{ site.baseurl }}/img/events/{{ event.image.main }}" height="{{ event.image.size }}">
                                {% endif %}
                            {% endif %}
                        </p>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section id="past-events" class="events" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Eventi Precedenti / Past Events</h2>
            <hr class="primary">
        </div>
    </div>
    <!--div class="container" style="margin-bottom:+20px;">
        <div class="row col-lg-8 col-lg-offset-2">
            <img src="{{ site.baseurl }}/img/events/dgi-events.jpg" alt="Save the date" width="400" height="auto">
        </div>
    <div-->
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            {% assign events = site.data.events | sort: 'date' | reverse %}            
            {% assign today_date = 'today' | date: '%y %m %d' %}
            <ul>
                {% for event in events %}
                    {% assign event_date = event.date | date: '%y %m %d' %}
                    {% if event.date2 %}
                        {% assign event_date = event.date2 | date: '%y %m %d' %}
                    {% endif %}
                    {% if event_date < today_date %}
                    <li>
                        <h4>{{ event.title }}
                            {% if event.subtitle %}
                                <br>{{ event.subtitle }}
                            {% endif %}
                        </h4>
                        <p class="text-muted">
                            {{ event.city }},
                            {% include format_dates.html date=event.date date2=event.date2 lang=event.lang %}
                            {% if event.hours %}
                               , {{ event.hours }}
                            {% endif %}

                            <br>
                            {% if event.lang == "it" %}
                                Organizzato da: {{ event.organizer }}
                            {% else %}
                                Organized by: {{ event.organizer }}
                            {% endif %}
                            
                            <br>
                            {% if event.lang == "it" %}
                                Presso: {{ event.address }}
                            {% else %}
                                Location: {{ event.address }}
                            {% endif %}

                        </p>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
