---
layout: page
title: The Digital Gold Institute Team
description: Directors, researchers, students, staff, and alumni.
permalink: /full-team/
---

<section id="fullteam" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Directors</h2>
                <hr class="primary">
            </div>
            {% include directors.html %}
        </div>
    </div>
</section>

<section id="students" class="team" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Students & Researchers</h2>
                <hr class="primary">
            </div>
            {% for member in site.data.team %}
            <div class="col-lg-6 col-md-6 text-center padding">
                <h4>{{ member.name }}</h4>
                <p class="text-muted">{{ member.role }}</p>
                {% if member.social_1 %}
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ member.social_1_link }}">
                            <i class="{{ member.social_1 }}"></i>
                        </a>
                    </li>
                    {% if member.social_2 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_2_link }}">
                            <i class="{{ member.social_2 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_3 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_3_link }}">
                            <i class="{{ member.social_3 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                {% if member.thesis %}
                <p class="text-muted text-center text-small">
                    Thesis: <a href="{{ member.thesis_link }}">{{ member.thesis }}</a>
                </p>
                {% endif %}
                {% if member.affiliation_1 %}
                <p class="text-muted text-center text-small">
                    {{ member.affiliation_1 }}
                    {% if member.affiliation_2 %}
                    <br>{{ member.affiliation_2 }}
                    {% endif %}
                    {% if member.affiliation_3 %}
                    <br>{{ member.affiliation_3 }}
                    {% endif %}
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
</section>

<section id="alumni" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alumni</h2>
                <hr class="primary">
                <p class="text-muted">
                    <b>Digital Gold Institute School:</b>
                    </br>
                    <a href="https://www.linkedin.com/school/digital-gold-institute/people/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </p>
            </div>
            <p class="text-muted padding">
                Our network of alumni represents a vibrant ecosystem of proficiency and innovation:
                the experience at the Digital Gold Institute is usually
                just a stepping stone toward other prestigious destinations. 
            </p>
            {% for member in site.data.alumni %}
            <p class="text-muted padding">
                <b>{{ member.name }}</b>
                </br>
                {{ member.degree }}
                </br>
                Thesis: <em>{{ member.thesis }} </em> ({{ member.thesis_date }})
                </br>
                    {% if member.pdf%}
                      <a href="{{ member.pdf }}">pdf</a>,
                    {% endif %}
                    {% if member.slides%}
                      <a href="{{ member.slides }}">slides</a>,
                    {% endif %}
                    {% if member.source%}
                      <a href="{{ member.source }}">source</a>
                    {% endif %}
                </br>
                {% if member.award%}
                {{ member.award }}
                </br>
                {% endif %}
                {% if member.social_1%}
                <a href="{{ member.social_1_link }}">
                    <i class="{{ member.social_1 }}"></i>
                </a>
                {% endif %}
                {% if member.social_2%}
                <a href="{{ member.social_2_link }}">
                    <i class="{{ member.social_2 }}"></i>
                </a>
                {% endif %}
                {% if member.social_3%}
                <a href="{{ member.social_3_link }}">
                    <i class="{{ member.social_3 }}"></i>
                </a>
                {% endif %}
                {% if member.social_4%}
                <a href="{{ member.social_4_link }}">
                    <i class="{{ member.social_4 }}"></i>
                </a>
                {% endif %}
            </p>
            {% endfor %}
        </div>
    </div>
</section>
