---
layout: page
title: News from the Digital Gold Institute
description: All news published by the Digital Gold Institute.
permalink: /news/
---

<section id="news" class="newspage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">All News</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="posts col-lg-8 col-lg-offset-2">
                {% for post in site.posts %}
                <article class="post">
                    <h2>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h2>

                    <p class="text-muted">
                        {{ post.date | date: "%b %e, %Y" }}
                        {% if post.author %}
                        |<i> {{ post.author }}</i>
                        {% endif %}
                    </p>

                    {% if post.image.thumb %}
                    <p>
                        <a href="{{ site.baseurl }}{{ post.url }}"><img
                                src="{{ site.baseurl }}/img/posts/{{ post.image.thumb }}" class="alignleft" width="150"
                                height="150"></a>
                    </p>
                    {% endif %}

                    {% if post.subtitle %}
                    <p><i>{{ post.subtitle }}</i></p>
                    {% endif %}

                    <p>{{ post.excerpt }}</p>

                    <p><a href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>