---
layout: page
title: An OpenTimestamps Tutorial
description: "The OpenTimestamps protocol step-by-step: calculation of a data file hash value, submission to calendars, and handling of the ots receipt / proof (loading, displaying, upgrading, and verifyng)"
permalink: /ots-tutorial/
---

{% include ots-tutorial.html %}
{% include scripts_ots.html %}

<script src="{{ site.baseurl }}/ots/javascripts/tools/tools.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/tools/utils.js"></script>