---
layout: page
title: Workshop su  Bitcoin e Blockchain
description: Workshop su  Bitcoin e Blockchain.
permalink: /training-event/
---
<header>
    <div class="bg-wrap">
        <div class="bg" style="background-image: url('../img/events/training-event-header.jpg');">
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Corso di formazione su Bitcoin e Blockchain</h1>
            <p>
                Piano formativo dedicato a chiunque voglia approfondire il tema della scarsità 
                in ambito digitale (bitcoin e crypto valute), la tecnologia sottostante (blockchain) e 
                le sue applicazioni tra industria, assicurazione, finanza, fin-tech, reg-tech e venture capital .   
                <br>
                <a href="#training-event-speakers">Docenti</a> del corso: <a href="https://www.ametrano.net">Ferdinando M. Ametrano</a> 
                e <a href="https://www.linkedin.com/in/paolo-mazzocchi-6672a591/">Paolo Mazzocchi</a>.
            </p>
            <h2>Milano, 21-22 Aprile 2020</h2>
            <h2>9:00-18:00</h2>
            <br>
            <a href="#training-event-programma" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a>
        </div>
    </div>
</header>

<section id="training-event-programma" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">Contenuti del workshop</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                Il workshop è strutturato su <b>due giornate full-time</b>, fruibili anche singolarmente. 
                La prima giornata è rivolta a tutti, senza particolari prerequisiti: 
                prevede una solida e ampia introduzione sui temi Bitcoin e blockchain, per poi approfondire, 
                in maniera funzionale, la natura di blockchain e distributed consensus. 
                Completa la giornata un panorama sui servizi finanziari ed assicurativi 
                per i crypto-asset (futures, custodia, ecc.) e le applicazioni non finanziarie della blockchain. 
                La seconda giornata è invece un dev-day rivolto agli sviluppa-tori o comunque a chi vuole 
                comprendere anche gli aspetti strettamente tecnologici ed implementativi: 
                è richiesta una buona attitudine al pensiero logico, matematico e compu-tazionale. 
                I contenuti della prima giornata sono evidentemente dati per già acquisiti 
                in questa seconda giornata, da considerarsi strettamente come un deep-dive.
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-box">
                            <p class="text-muted">
                                <b>Prima Giornata di Formazione</b>: 
                                <ol class="text-muted">
                                    <li>
                                        <details>
                                            <summary><em>Introduction to Bitcoin and Blockchain</em></summary>
                                            <ul>
                                                <li>
                                                    Topics:
                                                    <ol>
                                                        <li>Internet Money</li>
                                                        <li>Bitcoin Transactions</li>
                                                        <li>About Money</li>
                                                        <li>Private Money and the Centralization Dilemma</li>
                                                        <li>The Double Spending Problem</li>
                                                        <li>Bitcoin as Digital Gold</li>
                                                        <li>Bitcoin as Investment Asset</li>
                                                        <li>Blockchain Without Bitcoin</li>
                                                        <li>Timestamping and Anchoring</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details>
                                            <summary><em>Blockchain, Mining, and Distributed Consensus</em></summary>
                                            <ul>
                                                <li>
                                                    Topics:
                                                    <ol>
                                                        <li>Hash Functions</li>
                                                        <li>Simplified Digital Currency</li>
                                                        <li>Distributed Consensus</li>
                                                        <li>Mining</li>
                                                        <li>P2P Network</li>
                                                        <li>Protocol Governance</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                </ol>
                            </p>
                            <p class="text-muted">
                                <b>Seconda Giornata di Formazione</b>: 
                                <ol class="text-muted">
                                    <li>
                                        <details>
                                            <summary><em>Monetary Engineering and Alternative Coins</em></summary>
                                            <ul>
                                                <li>
                                                    Topics:
                                                    <ol>
                                                        <li>Cash, Electronic Money, Central Bank Money, eCash</li>
                                                        <li>About Money</li>
                                                        <li>Private Money and the Centralization Dilemma</li>
                                                        <li>The Double Spending Problem</li>
                                                        <li>Bitcoin as Digital Gold</li>
                                                        <li>Hayek Money: Elastic Non-discretionary Policy</li>
                                                        <li>Hayek Money: Dual Asset Ledger and Proof-of-Payment</li>
                                                        <li>Other Cryptocurrencies</li>
                                                        <li>Ethereum</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details>
                                            <summary><em>Beyond Bitcoin: Between Hype and Reality</em></summary>
                                            <ul>
                                                <li>
                                                    Topics:
                                                    <ol>
                                                        <li>Smart Contracts</li>
                                                        <li>Initial Coin Offering</li>
                                                        <li>Blockchain Without Bitcoin</li>
                                                        <li>Distributed Ledger Technology</li>
                                                        <li>Timestamping and Anchoring</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                    <li>
                                        <details>
                                            <summary><em>Prodotti Finanziari</em></summary>
                                            <ul>
                                                <li>
                                                    Topics:
                                                    <ol>
                                                        <li>tbd</li>
                                                        <li>tbd</li>
                                                    </ol>
                                                </li>
                                            </ul>
                                        </details>
                                    </li>
                                </ol>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center">
                        <div class="service-box">
                            <p class="text-muted">
                            <b>Bitcoin e Blockchain in 30 minuti!</b>
                            <br>
                            </p>
                            <div class='embed-container'>
                            <iframe src='https://www.youtube.com/embed/yzS2WcEVkvI' frameborder='0' allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>      
        </div>
    </div>
    <br>
    <div class="col-lg-12 text-center">
        <a href="#training-event-programma" class="btn btn-primary btn-xl page-scroll">Iscriviti Ora</a>
    </div> 

</section>

<section id="training-event-speakers">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">I relatori</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            {% for member in site.data.directors %}
            {% if member.training==true %}
            <div class="col-lg-3 col-md-3 text-center">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/{{ member.photo }}" alt="{{ member.photo_name }}" width=130>
                <h4>{{ member.name }}</h4>
                {% if  member.social_1 %}
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ member.social_1_link }}">
                            <i class="{{ member.social_1 }}"></i>
                        </a>
                    </li>
                    {% if member.social_2 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_2_link }}">
                            <i class="{{ member.social_2 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_3 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_3_link }}">
                            <i class="{{ member.social_3 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_4 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_4_link }}">
                            <i class="{{ member.social_4 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_5 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_5_link }}">
                            <i class="{{ member.social_5 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_6 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_6_link }}">
                            <i class="{{ member.social_6 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% if member.social_7 %}
                    <li class="list-inline-item">
                        <a href="{{ member.social_7_link }}">
                            <i class="{{ member.social_7 }}"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <p class="text-muted text-center text-small">
                {{ member.desc }}
                </p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>