---
layout: page
lang: it
title: "Bitcoin & Blockchain - Workshop"
description: "Bitcoin & Blockchain - Workshop: analisi e applicazioni per i protagonisti di industria e informazione."
permalink: /workshop/
---

<header>
    <div class="bg-wrap">
        <div class="bg bg-fixed"
            style="background-image: url('../img/events/workshop-header.jpg'); background-position: left;">
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Bitcoin &amp; Blockchain</h1>
            <h2>4 e 5 luglio 2023</h2>
            <h3>Workshop in presenza a Milano e webinar da remoto</h3>
            <br>
            <p style="background-color:rgba(0,0,0,0)">
                Bitcoin, crypto-asset, blockchain, distributed ledger,
                smart contract, crittografia:
                <br>
                analisi e applicazioni per i protagonisti di industria e informazione.
            </p>
            <a href="#program" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a>
        </div>
    </div>
</header>

<section id="program" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-12">
            <h2 class="section-heading text-center">Programma</h2>
            <hr class="primary">
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center">4 luglio (9:30-17:00): introduzione</h3>
                <p class="text-muted">
                    La prima giornata di formazione prevede una solida
                    e ampia introduzione su Bitcoin
                    dal punto di vista funzionale.
                    Il focus è sul consenso distribuito, gli aspetti transazionali
                    e crittografici che caratterizzano la tecnologia blockchain.
                    <br>
                    Non ci sono prerequisiti per poter
                    beneficiare di questa opportunità formativa.
                    <br>
                    <br>
                    <b>Temi chiave:</b><br>
                <ul>
                    <li><em>Bitcoin</em></li>
                    <li><em>Blockchain</em></li>
                    <li><em>Distributed Consensus</em></li>
                    <li><em>Mining</em></li>
                </ul>
                <br>
                </p>
            </div>

            <div class="col-lg-6 col-md-6">
                <h3 class="section-heading text-center">5 luglio (9:30-17:00): oltre Bitcoin</h3>
                <p class="text-muted">
                    La seconda giornata di formazione va oltre Bitcoin
                    esplorando gli altri crypto-asset,
                    i servizi/prodotti finanziari ed assicurativi
                    e le applicazioni non finanziarie della blockchain.
                    <br>
                    <em>
                        I contenuti della prima giornata sono un prerequisito
                        e vengono dati per già acquisiti.
                    </em>
                    <br>
                    <br>
                    <b>Temi chiave:</b><br>
                <ul>
                    <li><em>Ethereum and Smart Contracts</em></li>
                    <li><em>Initial Coin Offering, Tokens, NFTs, and Altcoins</em></li>
                    <li><em>Distributed Ledger Technology</em></li>
                    <li><em>Timestamping</em></li>
                    <li><em>Safe Custody for Crypto-assets</em></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>

<section id="video">
    <div class="container">
        <div class="text-center">
            <h2>Bitcoin: l'equivalente digitale dell'oro</h2>
            <hr class="primary">
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 text-center">
                <div class='embed-container'>
                    <iframe src='https://www.youtube.com/embed/3XRF9erlMmU' frameborder='0' allowfullscreen>
                    </iframe>
                </div>
            </div>
            <br>
            <div class="col-lg-6 text-center">
                <p>
                    <em>"Bitcoin è l'equivalente digitale dell'oro:
                        se pensiamo alla rilevanza dell'oro fisico
                        nella storia della civilizzazione,
                        della moneta e della finanza,
                        allora possiamo capire quanto dirompente
                        potrebbe essere l'emergere di un oro digitale
                        nella nostra civilizzazione digitale
                        e nel futuro della moneta e della finanza"
                    </em>(Ferdinando M. Ametrano)
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <a href="#checkout" class="page-scroll">
                    <button class="btn btn-primary" align="center">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="fees" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center">
                    <h2>Informazioni</h2>
                    <hr class="primary">
                </div>
                <p class="text-muted">
                    Il workshop si basa sui contenuti più rilevanti del corso universitario
                    <a href="http://www.ametrano.net/bbt"><em>Bitcoin and Blockchain Technology</em></a>
                    dell'Università degli Studi Milano-Bicocca e di ESSEC (Parigi).
                    I partecipanti hanno accesso al materiale didattico
                    (slide e contenuti aggiuntivi) utilizzati per il corso e potranno
                    anche fruire di tutti i futuri aggiornamenti di tale materiale.
                    Ampio spazio è dedicato al dialogo con i partecipanti,
                    per rispondere a tutte le domande sugli argomenti affrontati.
                    <br>
                    <br>
                    Docenti:
                    <a href="http://www.ametrano.net">Ferdinando M. Ametrano</a>
                    e
                    <a href="http://www.linkedin.com/in/paolo-mazzocchi-6672a591/">Paolo Mazzocchi</a>.
                    <br>
                    <br>
                    Le due giornate
                    possono essere fruite singolarmente o in sequenza.
                    Ovviamente la seconda presuppone i contenuti della prima come acquistiti.
                    <br>
                    <br>
                    Le lezioni sono in italiano, il materiale
                    distribuito (slide, libri di riferimento, ecc.)
                    in inglese.
                    <br>
                    <br>
                    Ai partecipanti verrà rilasciato un
                    attestato di partecipazione
                    firmato dal nostro direttore scientifico
                    e con marcatura temporale OpenTimestamp
                    sulla blockchain di Bitcoin.
                    <!--br>
                    <br>
                    Il workshop si terrà in modalità webinar con Zoom;
                    sono disponibili posti limitati per la fruizione del workshop
                    in presenza a Milano, subordinata alla presentazione di Green Pass
                    in corso di validità.-->
                </p>
            </div>

            <div id="tariffe" class="col-lg-6">
                <div class="text-center">
                    <h2>Quota di partecipazione</h2>
                    <hr class="primary">
                </div>
                <p class="text-muted">
                    {% assign today_date = 'today' | date: '%yyyy-%mm-%dd' %}
                    {% assign early_date = "2023-06-04" | date: '%yyyy-%mm-%dd' %}
                    {% assign regular_date = "2022-06-28" | date: '%yyyy-%mm-%dd' %}
                    {% assign event_date = "2022-07-03" | date: '%yyyy-%mm-%dd' %}

                    {% if today_date > early_date %}<s>{% endif %}
                    Tariffe <em>EARLYBIRD (fino al 4 giugno)</em>:<br>
                    4 luglio: introduzione <b>€490</b><br>
                    5 luglio: aspetti tecnici <b>€350</b><br>
                    4 e 5 luglio: introduzione e aspetti tecnici <b>€690</b><br>
                    {% if today_date > early_date %}</s>{% endif %}
                    <br>
                    {% if today_date > regular_date %}<s>{% endif %}
                    Tariffe <em>REGULAR (fino al 28 giugno)</em>:<br>
                    4 luglio: introduzione <b>€690</b><br>
                    5 luglio: aspetti tecnici <b>€490</b><br>
                    4 e 5 luglio: introduzione e aspetti tecnici <b>€990</b><br>
                    {% if today_date > regular_date %}</s>{% endif %}
                    <br>
                    {% if today_date > event_date %}<s>{% endif %}
                    Tariffe <em>LATECOMER</em> per chi si iscrive nell'ultima settimana:<br>
                    4 luglio: introduzione <b>€990</b><br>
                    5 luglio: aspetti tecnici <b>€690</b><br>
                    4 e 5 luglio: introduzione e aspetti tecnici <b>€1390</b><br>
                    <br>
                    Tariffe <em>STUDENT</em> per studenti con e-mail e tesserino universitario:<br>
                    4 e 5 luglio: introduzione e aspetti tecnici <b>€140</b>.
                    {% if today_date > event_date %}</s>{% endif %}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="checkout">
    <div class="container">
        <div class="text-center">
            <h2>Iscriviti al più presto</h2>
            <h3>Per accedere a tariffe scontate!</h3>
            <hr class="primary">
        </div>
        <br>
        <div class='embed-container'>
            <div id="eventbrite-widget-container-432517209617"></div>

            <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

            <script type="text/javascript">
                var exampleCallback = function () {
                    console.log('Order complete!');
                };

                window.EBWidgets.createWidget({
                    // Required
                    widgetType: 'checkout',
                    eventId: '432517209617',
                    iframeContainerId: 'eventbrite-widget-container-432517209617',

                    // Optional
                    iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                    onOrderComplete: exampleCallback  // Method called when an order has successfully completed
                });
            </script>
        </div>
        <hr class="primary">
        <div class="row">
            <div class="col-lg-6 text-center">
                <a href="#tariffe" class="btn btn-primary btn-xl page-scroll">Consulta tutte le tariffe</a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="#program" class="btn btn-primary btn-xl page-scroll">Consulta il programma</a>
            </div>
        </div>
    </div>
</section>

<section id="next" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="text-center">
            <h2>Training: prossimi appuntamenti</h2>
            <hr class="primary">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="{{ site.baseurl }}/img/events/2021-workshop-save-the-date.jpg" width="500">
            </div>
            <br>
            <div class="col-lg-6">
                <p>
                    <em>
                        "La crescita di valore di Bitcoin rappresenta una grande, confusa, magari anche pericolosa,
                        ma sostanzialmente inarrestabile corsa all'oro:
                        un new wild west con truffatori, prestigiatori, ubriachi molesti, furfanti da baraccone
                        e fuorilegge; non ci sono mappe e lo sceriffo non è ancora arrivato in città."
                    </em>(Ferdinando M. Ametrano)
                </p>
                <p>
                    Il Digital Gold Institute, attraverso il programma di formazione,
                    intende fornire gli <b>strumenti</b> necessari per fare chiarezza
                    sulla natura di Bitcoin e sulle sue implicazioni
                    nel sistema finanziario tradizionale.
                </p>
                <p>
                    Le prossime sessioni di formazione sono orientativamente previste per:
                <ul>
                    <li>ottobre 2023</li>
                    <li>gennaio 2024</li>
                    <li>aprile 2024</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>