<p class="text-muted">
    The most successful attempt at creating
    <em>scarcity in the digital realm</em>
    without a trusted third party,
    Bitcoin is a bearer asset that can be
    transferred over computer networks but not duplicated.
    Accessible to anyone, 
    it is <em>intrinsic to a peculiar uncensorable
    distributed settlement ledger</em>,
    updated with cryptographic techniques
    and secured by large amounts of energy
    in the form of computational work.
    Bitcoin is the digital equivalent of gold,
    disruptive for our current digital civilization
    and the future of money and finance.
    More a crypto-commodity then a crypto-currency,
    Bitcoin aims to be world reserve asset. 
</p>
