<p class="text-muted">
    Blockchain is an append-only sequential data structure:
    to change a block in the middle of the chain all
    subsequent blocks need to be changed.
    Very inefficient if compared to a
    relational database, it is mostly an idiosyncratic
    technology for digital scarcity.
    Indeed, <em>blockchain requires an
    intrinsic native digital asset</em>
    to provide the economic incentives for the
    blockchain maintainers to be honest. 
    Without the seigniorage revenues associated to its
    native asset, a blockchain system would need to select
    and appoint its maintainers,
    ultimately resorting to central governance.
</p>
