<!-- contact -->
<section id="contacts" class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contacts</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="text-muted padding" color="white">
                    <b>Digital Gold Institute</b><br>
                    Via Giovanni Battista Pirelli 11, 20124 Milano (MI) - ITALY<br>
                    email: <a href="mailto:info@dgi.io">info@dgi.io</a>
                </p>
            </div>
        </div>
    </div>
</section>

<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2797.2934581450763!2d9.198305815925357!3d45.48403497910136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4786c75d83300e61%3A0x26b412b70aa71a0!2sDigital%20Gold%20Institute!5e0!3m2!1sen!2sit!4v1622745466744!5m2!1sen!2sit"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>