<section class="" id="cryptoweek" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <a
                href="https://group.intesasanpaolo.com/it/sezione-editoriale/intesa-sanpaolo-on-air?utm_campaign=GoldInstitute&utm_source=GoldInstitute&utm_medium=Banner_CPM&utm_content=DisplayAwareness&utm_term=GoldInstitute_Banner_CPM_GoldInstitute_">
                <img src="{{ site.baseurl }}/img/events/ISP_ON_AIR_LEADERBOARD_728X90.jpg" width="100%">
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h2 class="section-heading">CryptoWeeks</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                Ogni venerdì alle 18:00 in live-streaming
                (<a
                    href="https://www.youtube.com/watch?v=6SVoSmLxNhM&list=PLTLa2tRY91LI9MN6-_ai0J6jTRcY8znDc"><em>YouTube</em></a>,
                <a href="https://www.facebook.com/DigitalGoldInstitute"><em>Facebook</em></a>
                e successivamente
                <a href="https://www.buzzsprout.com/1686991"><em>podcast</em></a>)
                il nostro direttore scientifico
                <a href="https://www.ametrano.net"><em>Ferdinando M. Ametrano</em></a>
                commenta quanto di rilevante è accaduto nel corso della settimana
                in ambito bitcoin, crypto-asset e blockchain,
                rispondendo anche alle domande del pubblico.
            </p>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <h3 class="text-muted text-center">
            </h3>
            {% for post in site.posts %}
            {% if post.cryptoweek %}
            {% capture times_if %}{% increment times_if %}{% endcapture %}
            {% if times_if <= '1' %} <div class="col-lg-6 col-md-6">
                <article class="post">
                    {% if post.image.thumb %}
                    <p>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ site.baseurl }}/img/posts/{{ post.image.thumb }}" class="alignleft" width="100"
                                height="100%">
                        </a>
                    </p>
                    {% endif %}

                    <h4>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h4>

                    <p class="text-muted">
                        {{ post.date | date: "%b %e, %Y" }} |
                        <em>{{ post.author }}</em>
                    </p>

                    {% if post.subtitle %}
                    <p>{{ post.subtitle }}</p>
                    {% endif %}

                </article>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/cryptoweek" class="btn btn-primary btn-xl page-scroll">All cryptoweeks</a>
    </div>
    </div>
</section>