<section class="" id="cryptoweek" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <a
                href="https://group.intesasanpaolo.com/it/sezione-editoriale/intesa-sanpaolo-on-air?utm_campaign=GoldInstitute&utm_source=GoldInstitute&utm_medium=Banner_CPM&utm_content=DisplayAwareness&utm_term=GoldInstitute_Banner_CPM_GoldInstitute_">
                <img src="{{ site.baseurl }}/img/events/ISP_ON_AIR_LEADERBOARD_728X90.jpg" width="100%">
            </a>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <h2 class="section-heading">CryptoWeek</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                Il commento di
                <a href="https://www.ametrano.net">Ferdinando Ametrano</a>
                alle _crypto-news_ della settimana:
                ogni venerdì alle 18 in _live-streaming_ su
                <a href="https://www.youtube.com/c/CheckSig" target="_blank" rel="noreferrer noopener">YouTube</a>,
                <a href="https://www.linkedin.com/company/checksig" target="_blank" rel="noreferrer noopener">LinkedIn</a>,
                <a href="https://www.facebook.com/checksig.safe" target="_blank" rel="noreferrer noopener">Facebook</a> e
                <a href="https://twitter.com/CheckSig_safe" target="_blank" rel="noreferrer noopener">Twitter</a>;
                subito dopo, anche <a href="https://cryptoweek.buzzsprout.com" target="_blank" rel="noreferrer noopener">podcast</a>.
            </p>
        </div>
        <div class="row col-lg-8 col-lg-offset-2">
            <h3 class="text-muted text-center">
            </h3>
            {% for post in site.posts %}
            {% if post.cryptoweek %}
            {% capture times_if %}{% increment times_if %}{% endcapture %}
            {% if times_if <= '1' %} <div class="col-lg-6 col-md-6">
                <article class="post">
                    {% if post.image.thumb %}
                    <p>
                        <a href="{{ site.baseurl }}{{ post.url }}">
                            <img src="{{ site.baseurl }}/img/posts/{{ post.image.thumb }}" class="alignleft" width="100"
                                height="100%">
                        </a>
                    </p>
                    {% endif %}

                    <h4>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </h4>

                    <p class="text-muted">
                        {{ post.date | date: "%b %e, %Y" }} |
                        <em>{{ post.author }}</em>
                    </p>

                    {% if post.subtitle %}
                    <p>{{ post.subtitle }}</p>
                    {% endif %}

                </article>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
    <br>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/cryptoweek" class="btn btn-primary btn-xl page-scroll">All CryptoWeeks</a>
    </div>
    </div>
</section>