<p class="text-muted">
    Finance does not really need blockchain,
    but the blockchain economy does need
    new financial services.
    The most promising blockchain field is
    the development of <em>financial services</em>
    for crypto-assets:
    those products, indexes, tools, practices, and facilities
    (primarily <a href="http://checksig.io">custody</a>)
    needed by institutional investors
    and high-net-worth individuals.
    <br>
    Moreover, the frontier is the
    <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2508296">monetary engineering</a>
    made possible by using bitcoin as reserve asset:
    <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2425270">Hayek Money</a>,
    the paradigme of new stable private monies
    competing with the legal tender ones
    and <em>Central Bank Digital Currencies</em>.
</p>