<section class="" id="cryptoassetlab" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Crypto Asset Lab: Joint Initiative with Milano-Bicocca</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row col-lg-8 col-lg-offset-2">
                <p class="text-muted">
                    The <em>Crypto Asset Lab</em> is a joint research initiative with the University of Milano-Bicocca 
                    on crypto assets as investment opportunity, fintech innovation, and regulatory challenge, 
                    with special regard for their disruptive role in the future of money and finance.
                    <br>
                    The lab also pays attention to the innovations in cryptography and blockchain technology, 
                    given their relevance for privacy, security, and other applications (e.g. timestamping).
                    <br>
                    <em>Crypto Asset Lab</em> is a meeting point between academia, industry, institutions, and regulators.
                </p>
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-12 text-center">
        <a href="http://cryptoassetlab.diseade.unimib.it/" class="btn btn-primary btn-xl page-scroll">Discover the Lab</a>
    </div>    
</section>