{% for member in site.data.directors %}
<div class="col-lg-3 col-md-3 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/{{ member.photo }}" alt="{{ member.photo_name }}">
    <h4>{{ member.name }}</h4>
    </a>
    <p class="text-muted">{{ member.role }}</p>
    {% if member.social_1 %}
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="{{ member.social_1_link }}">
                <i class="{{ member.social_1 }}"></i>
            </a>
        </li>
        {% if member.social_2 %}
        <li class="list-inline-item">
            <a href="{{ member.social_2_link }}">
                <i class="{{ member.social_2 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_3 %}
        <li class="list-inline-item">
            <a href="{{ member.social_3_link }}">
                <i class="{{ member.social_3 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_4 %}
        <li class="list-inline-item">
            <a href="{{ member.social_4_link }}">
                <i class="{{ member.social_4 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_5 %}
        <li class="list-inline-item">
            <a href="{{ member.social_5_link }}">
                <i class="{{ member.social_5 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_6 %}
        <li class="list-inline-item">
            <a href="{{ member.social_6_link }}">
                <i class="{{ member.social_6 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_7 %}
        <li class="list-inline-item">
            <a href="{{ member.social_7_link }}">
                <i class="{{ member.social_7 }}"></i>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <p class="text-muted text-center text-small">
        {{ member.desc }}
    </p>
</div>
{% endfor %}

<div class="col-lg-3 col-md-3 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Ehlers.png" alt="Ehlers">
    <h4>Eric Ehlers</h4>
    <p class="text-muted">Technical Officer</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="http://twitter.com/CheckSigCTO">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/eric-ehlers-9ba682/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/eehlers">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">       
        Cofounder and director of <a href="https://www.reposit.be/">Reposit Limited</a>, 
        providing consulting services in the domain of quantitative finance. 
        <a href="https://www.quantlib.org/quantlibxl/">QuanLibXL</a> project founder. 
        Formerly: 12 years at J.P. Morgan Chase, first in IT management and later as technical 
        lead for front-office pricing spreadsheets.

    </p>
</div>
<div class="col-lg-3 col-md-3 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Mazzocchi.png" alt="Mazzocchi">
    <h4>Paolo Mazzocchi</h4>
    <p class="text-muted">Operating Officer</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="https://twitter.com/MazzocchiPaolo">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/paolo-mazzocchi-6672a591/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/pmazzocchi">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">
        <a href="http://cryptoassetlab.diseade.unimib.it/">Crypto Asset Lab</a> faculty member,</br>
        <a href="http://ametrano.net/ird/">Interest Rate Derivatives</a> Assistant Lecturer at Milano-Bicocca.</br>
        Master's degree in Mathematical Engineering at Politecnico di Milano. </br>
        <a href="https://itra.run/community/paolo.mazzocchi/2206375/153211">Ultra Trail Runner</a>.
    </p>
</div>
<div class="col-lg-3 col-md-3 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Mandelli.png" alt="Mandelli">
    <h4>Lucia Mandelli</h4>
    <p class="text-muted">Business Developer</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="https://twitter.com/luciamandelli">
                <i class="fab fa-twitter"></i>
            </a>
        </li><li class="list-inline-item">
            <a href="https://www.linkedin.com/in/luciamandelli/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        <li class="list-inline-item">
            <a href="https://github.com/lmandelli">
                    <i class="fab fa-github"></i>
             </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">
        Bitcoin and blockchain passionate.</br>
        Eight years of hands-on entrepreneurial experience and formerly Vice President of  <a href="http://www.upi.pr.it/unione-parmense-degli-industriali/gruppo-giovani/index.jsp">“Giovani Imprenditori di Confindustria Parma”</a> 
    </p>
</div>