{% for member in site.data.directors %}
<div class="col-lg-4 col-md-4 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/{{ member.photo }}" alt="{{ member.photo_name }}"
        width=130>
    <h4>{{ member.name }}</h4>
    </a>
    <p class="text-muted">{{ member.role }}</p>
    {% if member.social_1 %}
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="{{ member.social_1_link }}">
                <i class="{{ member.social_1 }}"></i>
            </a>
        </li>
        {% if member.social_2 %}
        <li class="list-inline-item">
            <a href="{{ member.social_2_link }}">
                <i class="{{ member.social_2 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_3 %}
        <li class="list-inline-item">
            <a href="{{ member.social_3_link }}">
                <i class="{{ member.social_3 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_4 %}
        <li class="list-inline-item">
            <a href="{{ member.social_4_link }}">
                <i class="{{ member.social_4 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_5 %}
        <li class="list-inline-item">
            <a href="{{ member.social_5_link }}">
                <i class="{{ member.social_5 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_6 %}
        <li class="list-inline-item">
            <a href="{{ member.social_6_link }}">
                <i class="{{ member.social_6 }}"></i>
            </a>
        </li>
        {% endif %}
        {% if member.social_7 %}
        <li class="list-inline-item">
            <a href="{{ member.social_7_link }}">
                <i class="{{ member.social_7 }}"></i>
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    <p class="text-muted text-center text-small">
        {{ member.desc }}
    </p>
</div>
{% endfor %}