<div class="col-lg-4 col-md-4 text-center">
    <a href="https://www.ametrano.net/about/">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Ametrano.png" alt="Ametrano">
    <h4>Ferdinando M. Ametrano</h4>
    </a>
    <p class="text-muted">Executive Director</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="http://twitter.com/Ferdinando1970">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://facebook.com/ferdinando.ametrano">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://linkedin.com/in/ferdinandoametrano/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://www.reddit.com/user/Nando1970">
                <i class="fab fa-reddit-alien"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://github.com/fametrano">
                <i class="fab fa-github"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://www.youtube.com/c/FerdinandoMAmetrano">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://medium.com/@nando1970">
                <i class="fab fa-medium-m"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="http://ametrano.net/">
                <i class="fas fa-globe"></i>
            </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">
        <a href="http://ametrano.net/bbt/">Bitcoin and Blockchain Technology</a>
        at Milano-Bicocca and Politecnico di Milano.<br>
        <a href="http://cryptoassetlab.diseade.unimib.it/">Crypto Asset Lab</a> scientific director,
        <a href="http://ssrn.com/abstract=2425270">Hayek Money</a> promoter,
        <a href="http://quantlib.org/">QuantLib</a> founder,
        <a href="http://ametrano.net/ird/">Interest Rate Derivatives</a> Adjunct
        <a href="http://www.unimib.it/ferdinando-maria-ametrano">Professor at Milano-Bicocca</a>.</br>
        Ex-physicist, Springsteen fan, husband, father of three.
    </p>
</div>
<div class="col-lg-4 col-md-4 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Ehlers.png" alt="Ehlers">
    <h4>Eric Ehlers</h4>
    <p class="text-muted">Technical Officer</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="http://twitter.com/CheckSigCTO">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/eric-ehlers-9ba682/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/eehlers">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">       
        Cofounder and director of <a href="https://www.reposit.be/">Reposit Limited</a>, 
        providing consulting services in the domain of quantitative finance. 
        <a href="https://www.quantlib.org/quantlibxl/">QuanLibXL</a> project founder. 
        Formerly: 12 years at J.P. Morgan Chase, first in IT management and later as technical 
        lead for front-office pricing spreadsheets.

    </p>
</div>
<div class="col-lg-4 col-md-4 text-center">
    <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Mazzocchi.png" alt="Mazzocchi">
    <h4>Paolo Mazzocchi</h4>
    <p class="text-muted">Operating Officer</p>
    <ul class="list-inline social-buttons">
        <li class="list-inline-item">
            <a href="https://twitter.com/MazzocchiPaolo">
                <i class="fab fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/paolo-mazzocchi-6672a591/">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/pmazzocchi">
                <i class="fab fa-github"></i>
            </a>
        </li>
    </ul>
    <p class="text-muted text-center text-small">
        <a href="http://cryptoassetlab.diseade.unimib.it/">Crypto Asset Lab</a> faculty member,</br>
        <a href="http://ametrano.net/ird/">Interest Rate Derivatives</a> Assistant Lecturer at Milano-Bicocca.</br>
        Master's degree in Mathematical Engineering at Politecnico di Milano. </br>
        <a href="https://itra.run/community/paolo.mazzocchi/2206375/153211">Ultra Trail Runner</a>.
    </p>
</div>
