<section class="" id="eventsfeed" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events Feed</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/events" class="btn btn-primary btn-xl page-scroll">All Events</a>
        </div>
    </div>
</section>