<footer>
    <div class="container">
        <div class="row">
            <div class="navbar-center">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="{{ site.baseurl }}/about">
                            <i class="fas fa-info"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a
                            href="https://docs.google.com/forms/d/e/1FAIpQLSeSdkEDzVV_OGrTb6h07DGZ1pQ1QRxt9h0cRERJ4-4EeYMDng/viewform">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com/DigitalGoldInst">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/DigitalGoldInstitute">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/school/digital-gold-institute">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.github.com/dginst">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{ site.baseurl }}/feed.xml">
                            <i class="fas fa-rss"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>