<footer>
    <script>function loadScript(a) { var b = document.getElementsByTagName("head")[0], c = document.createElement("script"); c.type = "text/javascript", c.src = "https://tracker.metricool.com/resources/be.js", c.onreadystatechange = a, c.onload = a, b.appendChild(c) } loadScript(function () { beTracker.t({ hash: "cbd0297a8b03a6bf8b8fe7b03c152e18" }) });</script>
    <div class="container">
        <div class="row">
            <div class="navbar-center">
                <ul class="list-inline social-buttons">
                    {% for account in site.data.social %}
                    <li class="list-inline-item">
                        <a href="{{ account.link }}">
                            <i class="{{ account.social }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>