<!-- full team -->
<section id="fullteam" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Directors</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-6 col-md-6 text-center padding">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Ametrano.png" alt="Ametrano">
                <h4>Ferdinando Ametrano</h4>
                <p class="text-muted">Executive Director</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="http://github.com/fametrano">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://twitter.com/Ferdinando1970">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://facebook.com/ferdinando.ametrano">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://linkedin.com/in/ferdinandoametrano/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://ametrano.net/">
                            <i class="fa fa-globe"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-muted text-center text-small">
                    <a href="http://ametrano.net/bbt/">Bitcoin and Blockchain Technology</a> 
                    at Milano Bicocca and Politecnico di Milano.
                    <a href="http://ssrn.com/abstract=2425270">Hayek Money</a> promoter,
                    <a href="http://quantlib.org/">QuantLib</a> founder,
                    <a href="http://ametrano.net/ird/">Interest Rate Derivatives</a>
                    <a href="http://unimib.it/ferdinando-maria-ametrano">Adjunct Professor at Milano Bicocca</a>. </br>
                    Ex-physicist, Springsteen fan, husband, father of three.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center padding">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Mazzocchi.png" alt="Mazzocchi">
                <h4>Paolo Mazzocchi</h4>
                <p class="text-muted">Chief Operating Officier</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://github.com/pmazzocchi">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/paolo-mazzocchi-6672a591/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/MazzocchiPaolo">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="students" class="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Students & Researchers</h2>
                <hr class="primary">
            </div>                       
            <div class="col-lg-6 col-md-6 text-center padding">
                <h4>Simone Colombo</h4>
                <p class="text-muted">
                    Politecnico di Milano
                    </br>
                    <a href="https://github.com/simonecolombo/thesis-scolombo">
                        Thesis: Regolazione mercato elettrico attraverso mining di Bitcoin 
                    </a>
                    </br>
                    <a href="https://github.com/simonecolombo">
                        <i class="fa fa-github"></i>
                    </a>
                </p>    
            </div>
            <div class="col-lg-6 col-md-6 text-center padding">
                <h4>Matteo Avigni</h4>
                <p class="text-muted">
                    Politecnico di Milano
                    </br>
                    Thesis: TBD
                    </br>
                    </br>
                    <a href="">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center padding">
                <h4>Marcello Pichini</h4>
                <p class="text-muted">
                    Università di Bologna
                    </br>
                    <a href="https://github.com/mpichini1/Thesis">
                        Crypto-asset index
                    </a>
                    </br>
                    <a href="https://github.com/mpichini1">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center padding">
                <h4>Samuele Vianello</h4>
                <p class="text-muted">
                    Politecnico di Milano
                    </br>
                    <a href="https://github.com/SamueleVianello/MasterThesis">
                        Portfolio allocation
                    </a>
                    </br>
                    <a href="https://github.com/SamueleVianello">
                        <i class="fa fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="alumni" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Alumni</h2>
                <hr class="primary">
                <p class="text-muted"> 
                    <b>Digital Gold Institute School:</b>
                    </br>
                    <a href="https://www.linkedin.com/school/digital-gold-institute/people/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </p>
            </div>
            <p class="text-muted padding"> 
                <b>Andrea Brandoli</b>
                </br>
                Master Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>Blockchain Notarization: Extensions to the OpenTimestamps Protocol </em>
                (<a href="https://github.com/AndreaBrandoli90/thesis-abrandoli/blob/master/thesis_ab.pdf">pdf</a>,
                <a href="https://github.com/AndreaBrandoli90/thesis-abrandoli">source</a>)
                </br>
                Slides:
                </br>
                April 2019
                </br>
                <a href="https://github.com/AndreaBrandoli90">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="text-muted padding"> 
                <b>Giona Soldati</b>
                </br>
                Master Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>An Advanced Signature Scheme: Schnorr Algorithm and its Benefits 
                to the Bitcoin Ecosystem </em>
                (<a href="https://github.com/gionasoldati/thesis/blob/master/main.pdf">pdf</a>,
                <a href="https://github.com/gionasoldati/thesis">source</a>)
                </br>
                Slides:
                (<a href="https://github.com/gionasoldati/thesis/blob/master/Presentation/main.pdf">pdf</a>,
                <a href="https://github.com/gionasoldati/thesis/tree/master/Presentation">source</a>)
                </br>
                December 2018
                </br>
                <a href="https://github.com/gionasoldati">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="text-muted padding"> 
                <b>Alessandro Miola</b>
                </br>
                Master Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>Addressing Privacy and Fungibility Issues in Bitcoin: Confidential Transactions </em>
                (<a href="https://github.com/AlessandroMiola/Thesis/blob/master/Thesis.pdf">pdf</a>,
                <a href="https://github.com/AlessandroMiola/Thesis">source</a>)
                </br>
                Slides:
                (<a href="https://github.com/AlessandroMiola/Thesis/blob/master/Slides/Presentation.pdf">pdf</a>,
                <a href="https://github.com/AlessandroMiola/Thesis">source</a>)
                </br>
                December 2018
                </br>
                <a href="https://github.com/AlessandroMiola">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="text-muted padding"> 
                <b>Leonardo Comandini</b>
                </br>
                Master Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>Sign-to-contract: how to achieve digital notarization with zero marginal cost</em>
                (<a href="https://www.politesi.polimi.it/bitstream/10589/140124/1/2018_04_Comandini.pdf">pdf</a>,
                <a href="https://github.com/LeoComandini/Thesis">source</a>)
                </br>
                Slides:
                (<a href="https://www.politesi.polimi.it/bitstream/10589/140124/1/2018_04_Comandini.pdf">pdf</a>,
                <a href="https://github.com/LeoComandini/Thesis">source</a>)
                </br>
                April 2018
                </br>
                <a href="https://github.com/LeoComandini">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="text-muted padding"> 
                <b>Daniele Fornaro</b>
                </br>
                Master Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>Elliptic Curve Hierarchical Deterministic Private Key Sequences: Bitcoin Standards and Best Practices</em>
                (<a href="https://www.politesi.polimi.it/bitstream/10589/140112/1/2018_04_Fornaro.pdf">pdf</a>,
                <a href="https://github.com/danielefornaro/Tesi">source</a>)
                </br>
                <!--Slides:
                (<a href="">pdf</a>,
                <a href="">source</a>)
                </br>-->
                April 2018
                </br>
                <a href="https://github.com/danielefornaro">
                    <i class="fa fa-github"></i>
                </a>
            </p>
            <p class="text-muted padding"> 
                <b>Chiara Lelli</b>
                </br>
                Bachelor Degree in Mathematical Engineerging, Politecnico di Milano 
                </br>
                Thesis: <em>Schnorr signature: additivity and multisignature</em>
                (<a href="https://github.com/clelli/Schnorr/blob/master/tesi.pdf">pdf</a>,
                <a href="https://github.com/clelli/Schnorr">source</a>)
                </br>
                Winner of the 2017/2018 <em>Blockchain Thesis Award</em> of the Italian 
                Blockchain Educational Network
                <!--Slides:
                (<a href="">pdf</a>,
                <a href="">source</a>)-->
                </br>
                March 2018
                </br>
                <a href="https://github.com/clelli">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</section>
