<header>
    <div class="bg-wrap">
        <div class="bg bg-fixed" style="background-image: url('../img/header.jpg');">
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><em>Scarcity in the Digital Realm</em></h1>
            <p>
                The Digital Gold Institute
                is an R&D center of excellence
                about scarcity in the digital domain (Bitcoin and crypto assets)
                and the underlying blockchain technology.<br>
                Focused on our
                <a href="https://dgi.io/partnership/">partnership</a>
                and <a href="{{ site.baseurl }}/training/">training</a> programs,
                we are engaged in the
                <a href="https://cryptoassetlab.diseade.unimib.it/">scientific
                and academic</a> debate,
                where the cypherpunk movement meets
                the Austrian school of economics.
                Cryptography, monetary theory,
                computer networking, and game theory:
                we explore the cornerstones
                and can assist in understanding them.<br>
                Of course, we <a href="http://github.com/dginst">write
                code</a> and love to get our hands dirty in programming
                and technology. 
            </p>
            <a href="#vision" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a>  
        </div>
    </div>

</header>
