<head>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/fontawesome-free-5.8.1-web/css/all.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#f1af09">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{{page.title}}</title>
    <meta property="og:title" content="{{page.title| strip_html}}">
    <meta name="twitter:title" content="{{page.title| strip_html}}">
    
    {% if page.description %}
    <meta name="description" content="{{page.description| strip_html}}">
    <meta property="og:description" content="{{page.description| strip_html}}">
    <meta name="twitter:description" content="{{page.description| strip_html}}">
    {% elsif page.subtitle %}
    <meta name="description" content="{{page.subtitle| strip_html}}">
    <meta property="og:description" content="{{page.subtitle| strip_html}}">
    <meta name="twitter:description" content="{{page.subtitle| strip_html}}">
    {% elsif page.excerpt %}
    <meta name="description" content="{{page.excerpt| strip_html}}">
    <meta property="og:description" content="{{page.excerpt| strip_html}}">
    <meta name="twitter:description" content="{{page.excerpt| strip_html}}">
    {% else %}
    <meta name="description" content="{{site.description| strip_html }}">
    <meta property="og:description" content="{{site.description| strip_html }}">
    <meta name="twitter:description" content="{{site.description| strip_html }}">
    {% endif %}
    
    {% if page.author %}
    <meta name="author" content="{{page.author| strip_html}}">
    {% else %}
    <meta name="author" content="{{site.name| strip_html}}">
    {% endif %}
    
    {% if page.image.news %}
    <meta property="og:image" content="http://dgi.io/img/posts/{{page.image.news}}">
    <meta name="twitter:image" content="http://dgi.io/img/posts/{{page.image.news}}">
    {% else %}
    <meta property="og:image" content="http://dgi.io/img/logo/dgi-logo.png">
    <meta name="twitter:image" content="http://dgi.io/img/logo/dgi-logo.png">
    {% endif %}
    
    <meta name="twitter:site" content="@DigitalGoldInst">
    <meta name="twitter:card" content="summary_large_image">
    
</head>
