<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Digital Gold Institute</h1>
            <h2><em>Scarcity in the Digital Realm</em></h2>
            <hr>
            <p class="text-muted"> 
                The Digital Gold Institute is a research and development center about scarcity 
                in the digital realm (bitcoin and crypto-assets) and blockchain technology. 
                <br />
                Focused on its fellowship program, the Institute promotes the digital scarcity 
                experiment in the public debate and the scientific academia through R&D, teaching, 
                consulting, and advising. 
                <br />
                We explore the foundations and can assist in understanding them: cryptography, monetary 
                theory, computer networking, game theory. Of course, we write code and love to get our 
                hands dirty in programming and technology. 
            </p>
            <a href="#vision" class="btn btn-primary btn-xl page-scroll">Vision</a>
        </div>
    </div>
</header>
