<header>
    <div class="bg-wrap">
        <div class="bg bg-fixed" style="background-image: url('../img/header2.jpg');">
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-inner" text-align="center">
            <h1><em>Scarcity in the Digital Realm</em></h1>
            <p>
                <br>
                DGI is a research and development center of excellence
                about “scarcity in the digital realm”:
                Bitcoin, crypto-assets, and the underlying blockchain technology.
                <br><br>
                Focused on consulting services, training programs, and software solutions,
                <br>we are engaged in the scientific and academic debate, where the cypherpunk
                movement meets the Austrian school of economics.
                <br><br>
                Cryptography, monetary theory,
                computer networking, and game theory:
                we explore all cornerstones and can assist in understanding them.
                <br>
            </p>
            <div class="text-center">
                <a href="{{ site.baseurl }}/#services" class="btn btn-primary btn-xl page-scroll">DGI Services</a>
            </div>
            <!--a href="#vision" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a-->
        </div>
    </div>

</header>