<!-- about -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                    <i class="fa fa-4x fa-info wow bounceIn text-primary"></i>
            </div>
            <div class="col-lg-12">
                    <p class="text-muted padding">
                        <b>DIGITAL GOLD INSTITUTE S.R.L.</b>
                    </br>
                        Via Massimo Gorki 47 - 20098 San Giuliano Milanese (MI)
                    </br>
                        Codice Fiscale, Partita IVA e Registro Imprese: <b>10481200961</b>
                    </br>
                        Codice destinatario: <b>SUBM70N</b>
                    </br>
                        REA CCIAA: <b>MI-2534614</b>
                    </br>
                        Capitale Sociale €10.000 interamente versato
                    </br>
                        <img src="{{ site.baseurl }}/img/codice-destinatario.gif">
                    </br>
                    </br>
                        web: <a href="{{ site.baseurl }}">www.dgi.io</a>
                    </br>
                        email contact form: <a href="http://bit.ly/contact-dgi">http://bit.ly/contact-dgi</a>
                    </br>
                        PEC: <a href="mailto:dginst@pec.it">dginst@pec.it</a>
                    </br>
                    </br>
                        Bank: BANCO BPM
                    </br>
                        SWIFT: BAPPIT21AH8
                    </br>
                        IBAN: IT72Y0503433730000000015343
                    </p>                    
            </div>
</section>
