<section id="modules" class="ots_desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Moduli</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                <b>1. Introduction to Bitcoin and Blockchain</b>: 
                <ul>
                    <li class="text-muted">
                        Prerequisiti: nessuno; laptop per la parte sperimentale 
                    </li>
                    <li class="text-muted">
                        Audience: c-level, manager, researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti: </br>
                        - A Short History</br>
                        - Protocol and Currency</br>
                        - Bitcoin as Digital Gold</br>
                        - Bitcoin in The History of Money</br>
                        - Blockchain Beyond Bitcoin
                    </li>
                    <li class="text-muted">
                        Lab: bitaddress.org, blockexplorer, marcatura temporale, wallet e firma digitale
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>2. Blockchain and Distributed Consensus</b>
                <ul>
                    <li class="text-muted">                    
                       Prerequisiti: modulo 1; laptop per la parte sperimentale.
                    </li>
                    <li class="text-muted">
                       Audience: manager, researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Hash Functions</br>
                        - Simplified Digital Currency</br>
                        - Distributed Consensus</br>
                        - Mining</br>
                        - P2P Network</br>
                        - Protocol Governance
                    </li>
                    <li class="text-muted">   
                        Lab: funzione di hash e setup di una rete blockchain (testnet)
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>3. Elliptic Curve Cryptography</b>
                <ul>
                    <li class="text-muted"> 
                        Prerequisiti: tecnicamente nessuno, motivazionalmente il modulo 1; laptop per la parte sperimentale  
                    </li>
                    <li class="text-muted">
                        Audience: researchers, technologists, developers.  
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Modular Arithmetic and Algebra of Sets</br>
                        - Elliptic Curves</br>
                        - Elliptic Curves Over a Finite Field <i>𝐹</i></br>
                        - Asymmetric Cryptography on Elliptic Curves</br>
                        - Digital Signature Protocol</br>
                        - Elliptic Curve Signature Algorithms
                    </li>
                    <li class="text-muted">
                        Lab: programmazione con <a href="http://github.com/dginst/btclib">btclib</a>
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>4. Addresses, Transactions, and Blocks</b>
                <ul>
                    <li class="text-muted">   
                        Prerequisiti: modulo 1, 2 e 3; laptop per la parte sperimentale
                    </li>
                    <li class="text-muted">  
                        Audience: researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>  
                        - Addresses and Wallet Import Formats</br>
                        - TxIns, TxOs, UTxO, nLockTime</br>
                        - Bitcoin Script Language</br>
                        - Transaction Scripts</br>
                        - Odds and Sods</br>
                        - Blocks</br>
                        - Historical Transactions
                    </li>
                    <li class="text-muted">
                        Lab: Testnet (rete e transazioni), programmazione con <a href="http://github.com/dginst/btclib">btclib</a>
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>5. Wallets and Bitcoin Core</b>
                <ul>
                    <li class="text-muted"> 
                        Prerequisiti: modulo 1, 2, 3 e 4; laptop per la parte sperimentale  
                    </li>
                    <li class="text-muted">
                        Audience: researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Exchanges and payment processors</br>
                        - Wallets</br>
                        - Deterministic Wallets</br>
                        - Hierarchical Deterministic Wallets: BIP32, BIP43, BIP44</br>
                        - Mnemonic Phrase: BIP39 and Electrum</br>
                        - Bitcoin Core
                    </li>
                    <li class="text-muted">
                        Lab: Electrum, Bitcoin Core, programmazione con <a href="http://github.com/dginst/btclib">btclib</a>
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>6. Advanced Elliptic Curve Cryptography</b>
                <ul>
                    <li class="text-muted">   
                        Prerequisiti: modulo 3; laptop per la parte sperimentale  
                    </li>
                    <li class="text-muted">
                        Audience: researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Schnorr Signature and batch validation</br>
                        - Mu(lti)Sig(nature)</br>
                        - Pedersen Commitment</br>
                        - Ring signature</br>
                        - Boneh–Lynn–Shacham (BLS) signature scheme</br>
                        - Confidential Transactions</br>
                        - Range Proof</br>
                        - Bullet Proof
                    </li>
                    <li class="text-muted">
                        Lab: programmazione con <a href="http://github.com/dginst/btclib">btclib</a>
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>7. Monetary and Token Engineering</b>
                <ul>
                    <li class="text-muted">   
                        Prerequisiti: modulo 1  
                    </li>
                    <li class="text-muted">
                        Audience: c-level, manager,  researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Central Bank and Private Digital Cash</br>
                        - About Money and Innovation</br>
                        - Private Monies and Bitcoin</br>
                        - Hayek Money</br>
                        - Other Cryptocurrencies</br>
                        - Tokenization e ICO</br>
                        - Ethereum, ERC20 e ERC223
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                <b>8. Bitcoin, Blockchain, and Distributed Ledger Technology: Hype or Reality?</b>
                <ul>
                    <li class="text-muted">
                        Prerequisiti: modulo 1; laptop per la parte sperimentale  
                    </li>
                    <li class="text-muted">
                        Audience: c-level, manager,  researchers, technologists, developers
                    </li>
                    <li class="text-muted">
                        Argomenti:</br>
                        - Blockchain Without Bitcoin</br>
                        - Finance and Blockchain</br>
                        - Timestamping, Notarization, and Anchoring</br>
                        - Smart Contracts</br>
                        - Distributed Ledger Technology
                    </li>
                    <li class="text-muted">
                        Lab: OpenTimestamps
                    </li>
                </ul>       
            </p>
        </div>
    </div>
</section>