<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/">
                <img class="navbar-brand page-scroll" src="{{ site.baseurl }}/img/logo/dgi-logo-neg.svg">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#vision">Vision</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#eventsfeed">Events</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#newsfeed">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ site.baseurl }}/#contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
    
    {% if page.url == "/" %}
    
    <!--div align='center'>
        <a href="{{ site.baseurl }}/workshop">
            <img src="{{ site.baseurl }}/img/events/20200721-banner.png" class="img-responsive" height="60">
        </a>
    </div-->
    

    <style type='text/css'>
        #fire {
          position:absolute;
          top:0px; left:0px;
          visibility:hidden;
        }
    </style>
    <script type='text/javascript'>
        var imgId = 'banner';
        var imgOnTime = 1050;
        var imgOffTime = 350;
        window.onload = function()
        {
          // check for existence of objects we will use
          if (document.getElementById) {
            var ele = document.getElementById(imgId);
            if (ele && ele.style) {
              setTimeout('blinkImg()', imgOffTime);
            }
          }
        }
        function blinkImg()
        {
          var v, t, ele = document.getElementById(imgId);
          if (ele.style.visibility == 'visible') {
            // hide it, then wait for imgOffTime
            v = 'hidden';
            t = imgOffTime;
          }
          else {
            // show it, then wait for imgOnTime
            v = 'visible';
            t = imgOnTime;
          }
          ele.style.visibility = v;
          setTimeout('blinkImg()', t);
        }
    </script>
    <div align='center'>
        <a href="{{ site.baseurl }}/workshop">
            <img src="{{ site.baseurl }}/img/events/20200721-banner.png" class="img-responsive" height="60" id="banner">
        </a>
    </div>

    {% endif %}
</nav>
