<section id="ots-tutorial" class="ots">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">OpenTimestamps: A Step by Step Tutorial</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                This tutorial breaks down the
                <a href="https://opentimestamps.org">OpenTimestamps</a>
                protocol into the following granular steps:
                <ol>
                    <li><a class="page-scroll" href="#ots_tools_hash">Calculating the data file hash value</a></li>
                    <li><a class="page-scroll" href="#ots_tools_timestamp">Submitting the hash for attestation</a></li>
                    <li><a class="page-scroll" href="#ots_tools_load">Loading the OTS receipt/proof from file</a></li>
                    <li><a class="page-scroll" href="#ots_tools_info">Displaying the OTS receipt/proof informations</a>
                    </li>
                    <li><a class="page-scroll" href="#ots_tools_upgrade">Upgrading the OTS receipt/proof</a></li>
                    <li><a class="page-scroll" href="#ots_tools_verify">Verifying the OTS receipt/proof</a></li>
                </ol>
            </p>
        </div>
    </div>
</section>

<section id="ots_tools_hash" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">1. Calculating the Data File Hash Value</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Calculate the <em>hash value</em> associated to
                the data file to be timestamped; the hash value
                acts as a digital fingerprint, 'uniquely'
                identifying the unmodified original document.
                <br>
                The hash is calculated locally inside the browser
                without disclosing the document to third parties,
                preserving privacy; no internet connectivity is required.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 padding">
                        <div class="form-group">
                            <label for="hash-filename">Data file</label>
                            <input type="file" id="hash-filename" class="form-control" accept='*'
                                placeholder="datafile.ext" />
                        </div>
                        <div class="form-group">
                            <label for="hash-hashType">Hash function</label>
                            <select id="hash-hashType" class="form-control">
                                <option value="SHA1">SHA1</option>
                                <option value="SHA256" selected>SHA256</option>
                                <option value="RIPEMD160">RIPEMD160</option>
                            </select>
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-hash">HASH THE DATA FILE</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="hash-output">Hash value</label>
                            <textarea type="text" id="hash-output" name="hash" class="form-control"
                                placeholder="Result will be displayed here" rows="1" cols="64"></textarea><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ots_tools_timestamp" class="ots">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">2. Submitting the Hash for Attestation</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Submit the hash to multiple OpenTimestamps
                public calendar servers
                (e.g. <a href="https://btc.ots.dgi.io">btc.ots.dgi.io</a>)
                for <em>attestation</em> of its existence (timestamp)
                in the Bitcoin blockchain using a Bitcoin transaction;
                internet connectivity is required.
                The submission receipt is saved locally.
                <br>
                In time, this hash will be attested in a Bitcoin block header
                and the submission receipt will become upgradable to
                attestation proof. The submission receipt is not an
                attestation proof yet, i.e. it cannot be verified immediately:
                it is incomplete as it takes up to few hours for the timestamp
                to get confirmed by the Bitcoin blockchain.
                <br>
                To avoid the inefficiency of one blockchain transaction for
                every document hash, a calendar server provides
                <em>aggregation</em> of multiple hashes
                in a Merkle tree data structure and
                performs their <em>attestation</em> in a single transaction,
                effectively attesting only the Merkle tree root,
                which is itself a hash value.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 padding">
                        <div class="form-group">
                            <label for="stamp-hashValue">Hash value</label>
                            <textarea type="text" id="stamp-hashValue" name="stamp-hashValue" class="form-control"
                                placeholder="Paste input here" rows="1" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="stamp-hashType">Hash function used for the hash above</label>
                            <select id="stamp-hashType" name="stamp-hashType" class="form-control">
                                <option value="SHA1">SHA1</option>
                                <option value="SHA256" selected>SHA256</option>
                                <option value="RIPEMD160">RIPEMD160</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="stamp-filename">OTS receipt filename</label>
                            <textarea type="text" id="stamp-filename" name="stamp-filename" class="form-control"
                                rows="1" cols="64">datafile.ext.ots</textarea>
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-stamp">SUBMIT HASH</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="stamp-output">OTS receipt</label>
                            <textarea type="text" id="stamp-output" name="stamp-output" class="form-control"
                                placeholder="Result will be displayed here" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ots_tools_load" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">3. Loading the OTS Receipt/Proof From File</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Load an existing OTS receipt/proof from a local file;
                no internet connectivity required.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 padding">
                        <div class="form-group">
                            <label for="load-filename">OTS receipt/proof filename</label>
                            <input type="file" id="load-filename" name="load-filename" class="form-control" accept='*'
                                placeholder="datafile.ext.ots" />
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-load">LOAD OTS RECEIPT/PROOF</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="load-hashValue">OTS receipt/proof is for the hash</label>
                            <textarea type="text" id="load-hashValue" name="load-hashValue" class="form-control"
                                placeholder="Result will be displayed here" rows="1" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="load-output">OTS receipt/proof</label>
                            <textarea type="text" id="load-output" name="load-output" class="form-control"
                                placeholder="Result will be displayed here" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ots_tools_info" class="ots">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">4. Displaying the OTS Receipt/Proof Informations</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Display the informations included in the OTS receipt/proof,
                including the actual commitment operations and
                attestations (if any); no internet connectivity is required.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 padding">
                        <div class="form-group">
                            <label for="info-ots">OTS receipt/proof</label>
                            <textarea type="text" id="info-ots" name="info-ots" class="form-control"
                                placeholder="Paste input here" rows="8" cols="64"></textarea>
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-info">DISPLAY OTS RECEIPT/PROOF INFO</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="info-output">Informations</label>
                            <textarea type="text" id="info-output" name="info-output" class="form-control"
                                placeholder="Result will be displayed here" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ots_tools_upgrade" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">5. Upgrading the OTS Receipt/Proof</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Attempt the upgrade of the OTS receipt/proof with attestations
                that might be available from the OpenTimestamps calendars;
                internet connectivity is required.
                <br>
                To be upgraded to proof status, incomplete receipts require the
                assistance of the remote calendars used for timestamping:
                each calendar has to provide its attestation as path to a
                Bitcoin block header.
                Upgrading an OTS receipt adds the path(s) to the Bitcoin
                block header(s), making it a self-contained
                calendar-independent OTS proof.
                <br>
                Even proofs can be updated, if there is a calendar that can add
                its own attestation to the ones previously provided by other
                calendars.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 padding">
                        <div class="form-group">
                            <label for="upgrade-ots">OTS receipt/proof</label>
                            <textarea type="text" id="upgrade-ots" name="upgrade-ots" class="form-control"
                                placeholder="Paste input here" rows="8" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="upgrade-filename">Filename for the upgraded OTS proof (if any)</label>
                            <textarea type="text" id="upgrade-filename" name="upgrade-filename" class="form-control"
                                rows="1" cols="64">datafile.ext.upgraded.ots</textarea>
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-upgrade">UPGRADE OTS RECEIPT/PROOF</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="upgrade-hashValue">OTS receipt/proof is for the hash</label>
                            <textarea type="text" id="upgrade-hashValue" name="uograde-hashValue" class="form-control"
                                placeholder="Result will be displayed here" rows="1" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="upgrade-output">Upgraded OTS proof</label>
                            <textarea type="text" id="upgrade-output" name="upgrade-output" class="form-control"
                                placeholder="Result will be displayed here" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="ots_tools_verify" class="ots">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">6. Verifying the OTS Receipt/Proof</h2>
                <hr class="primary">
            </div>
            <p class="text-muted">
                Verify the attestations included in the OTS receipt/proof
                (if any); internet connectivity is required.
                <br>
                OTS receipt/proofs can be verified independently from any
                OpenTimestamps
                server or facility, using a local
                <a href="http://bitcoincore.org/en/download/">Bitcoin Core</a>
                node; anyway, since a web-page cannot access the local
                filesystem, this page relies on public block-explorers
                for verification.
                <br>
                First an upgraded proof is obtained from the calendar
                servers if available (as in the step above, performed
                also here to ensure updated informations),
                then the receipt/proof status is displayed below.
            </p>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 padding">
                        <div class="form-group">
                            <label for="verify-ots">OTS receipt/proof</label>
                            <textarea type="text" id="verify-ots" name="verify-ots" class="form-control"
                                placeholder="Paste input here" rows="8" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="verify-filename">Filename for the upgraded OTS proof (if any)</label>
                            <textarea type="text" id="verify-filename" name="verify-filename" class="form-control"
                                rows="1" cols="64">datafile.ext.upgraded.ots</textarea>
                        </div>
                        <br>
                        <div class="col-lg-12 text-center">
                            <button class="btn btn-primary" id="btn-verify">VERIFY OTS RECEIPT/PROOF</button>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="verify-hashValue">OTS receipt/proof is for the hash</label>
                            <textarea type="text" id="verify-hashValue" name="verify-hashValue" class="form-control"
                                placeholder="Result will be displayed here" rows="1" cols="64"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="verify-output">Proof attestations</label>
                            <textarea type="text" id="verify-output" name="verify-output" class="form-control"
                                placeholder="Result will be displayed here" rows="8" cols="64"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>