<section id="ots_warnings" class="ots">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Warnings</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">

            <p class="text-muted">
                Attestation proofs can be verified independently from any
                OpenTimestamps server or facility. The same is not true for
                the submission receipt, which can only be upgraded to proof
                using the OpenTimestamps calendar(s) used for submission.
            </p>

            <p class="text-muted">
                The user is responsible to store both the stamped document
                (which has never been shared with the OpenTimestamps servers)
                and its attestation proof (which technically might be stored
                by the OpenTimestamps servers).
            </p>

            <p class="text-muted">
                While the OpenTimestamps
                protocol is blockchain agnostic,
                a timestamp is as reliable as the used blockchain:
                <ul class="text-muted">
                    <li>
                        very reliable when using Bitcoin
                        because that blockchain is secured by huge
                        computational power (<em>proof-of-work</em>);
                    </li>
                    <li>
                        much less reliable with other public
                        permissionless blockchains;
                    </li>
                    <li>
                        when used with a private permissioned blockchain
                        its reliability depends on the trustworthiness
                        of the chain governance: in this case a traditional
                        certification authority is probably better.
                    </li>
                </ul>
            </p>

            <p class="text-muted">
                It should be obvious, but it is worth mentioning that
                timestamping (using the OpenTimestamps protocol or any
                alternative approach):
                <ul class="text-muted">
                    <li>
                        can be selectively revealed to show convenient
                        evidence and hiding inconvenient evidence (e.g.
                        timestamping a bet on a given outcome and its
                        opposite, later revealing only the realized one);
                    </li>
                    <li>
                        does not prove authorship (that should be
                        proved using a digital signature);
                    </li>
                    <li>
                        can be repudiated if not digitally signed
                    </li>
                    <li>
                        does not ensure veracity, validity, correctness,
                        or accuracy of the timestamped document.
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="{{ site.baseurl }}/ots-tutorial" class="btn btn-primary btn-xl page-scroll">Step by Step Advanced
                Tutorial</a>
        </div>
    </div>
</section>
