<section id="ots_stampverify" class="ots">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OpenTimestamps</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="stamp-and-verify-drop-zone" id="dropbox1">
            <span class="filename"></span>
            <span class="filesize"></span>
            <h4>
                Drop here a file to <b>stamp</b> it
                or a (<i>.ots</i>) receipt/proof to <b>verify</b> it.
            </h4>
        </div>
        <br>
        <div class="row">
            <p class="text-muted">
                When a file is dropped in the above box, its hash value
                is calculated locally inside the browser (the file is not shared
                with anyone, preserving privacy);
                then, this hash is submitted to the public
                OpenTimestamps
                calendar servers for attestation of its existence (timestamp); 
                a submission (<i>.ots</i>) receipt is locally downloaded.
                In time, the hash will be attested in a Bitcoin block header
                and the receipt will become upgradable to attestation proof.
                <br>
                Alternatively,
                if the file dropped in the above box is a (<i>.ots</i>)
                receipt/proof, first an upgraded proof is obtained from the
                calendar servers if available, then the most recent
                receipt/proof status is displayed below.
            </p>
        </div>


        <input id="dropbox1_input" type="file" style="display:none">
        <div class="statuses statuses_hashing" id="proof-status" style="display: none">
            <a href="#" class="statuses-info" style="display: none"></a>
            <p class="statuses-title">52%</p>
            <p class="statuses-description">Verifying</p>
        </div>

        <br>

        <div class="stamp-and-verify-drop-zone" id="dropbox2" style="display:none">
            <span class="filename"></span>
            <span class="filesize"></span>
            <h4>
                Drop here the <b>original file</b> to check that its hash matches the 
                stamped one.
            </h4>
        </div>

        <input id="dropbox2_input" type="file" style="display:none">
        <div class="statuses statuses_hashing" id="document-status" style="display: none">
            <p class="statuses-title">xx%</p>
            <p class="statuses-description">Hashing</p>
        </div>

        <br>

        <div class="col-lg-12 text-center">
            <a href="#ots_howitworks" class="page-scroll">
                <button class="btn btn-primary">
                    <i class="fa fa-angle-down fa-2x"></i>
                </button>
            </a>  
        </div>
    </div>
</section>