<section id="ots" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How It Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                To avoid the inefficiency of one blockchain transaction for
                every timastamp, a calendar server
                provides <em>aggregation</em> of multiple documents
                (in a Merkle tree data structure)
                and performs their <em>attestation</em> in a single transaction
                (actually attesting the tree root). 
            </p>
            <p class="text-muted">
                While the <a href="www.opentimestamps.org">OpenTimestamps</a>
                protocol is blockchain agnostic,
                a timestamp is as reliable as the used blockchain:
                <ul>
                    <li class="text-muted">
                        very reliable when using Bitcoin
                        because that blockchain is secured by huge
                        computational power (<em>proof-of-work</em>);
                    </li>
                    <li class="text-muted">
                        much less reliable with other public permissionless blockchains;
                    </li>
                    <li class="text-muted">
                        when used with private permissioned blockchain its reliability
                        depends on the trustworthiness of the chain governance: in this case
                        traditional certification authorities are probably better.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                It should be obvious, but it is worth mentioning that timestamping
                (using the <a href="www.opentimestamps.org">OpenTimestamps</a> protocol or any alternative approach):
                <ul>
                    <li class="text-muted">
                    does not prove authorship (that should be proved using a
                    digital signature);
                    </li>
                    <li class="text-muted">
                    does not ensure veracity of the timestamped document.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>