<section id="ots" class="ots">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">OpenTimestamps</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center padding">
        <a href="https://www.opentimestamps.org">
            <img src="https://opentimestamps.org/assets/images/logos.png" alt="OpenTimestamps">
        </a>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                A timestamp proves that some data existed prior to a given
                point in time.
                The <a href="www.opentimestamps.org">OpenTimestamps</a>
                protocol defines an open standard consisting in a set of
                operations for creating provable blockchain timestamps and
                later independently verifying them.
                <br>
                While anyone could realize a timestamp with the permissionless
                blockchain(s) by paying the appropriate transaction fees,
                there are public
                <a href="www.opentimestamps.org">OpenTimestamps</a>
                <em>calendar servers</em>,
                free to use without any registration or API key.
                <br>
                This webpage is an interface to create timestamp proofs using
                the <a href="www.opentimestamps.org">OpenTimestamps</a>
                public calendar servers
                (e.g. <a href="https://btc-ots.dgi.io">btc-ots.dgi.io</a>):
                Bitcoin's blockchain is used as a timestamp notary, i.e.
                the proof is attested in a Bitcoin block header.
                <br>
                These proofs can be verified independently from any 
                <a href="www.opentimestamps.org">OpenTimestamps</a>
                server or facility, using a local
                <a href="http://bitcoincore.org/en/download/">Bitcoin Core</a>
                node; anyway, since a web-page cannot access the local
                filesystem, this page relies on public block-explorers
                for verification.
            </p>
        </div>

        <div class="stamp-and-verify-drop-zone" id="dropbox1">
            <span class="filename"></span>
            <span class="filesize"></span>
            <p class="hash">
                Drop here a file to <b>stamp</b> it
                or a (<i>.ots</i>) receipt/proof to <b>verify</b> it.
            </p>
        </div>
        <br>
        <p class="text-muted">
            When a file is dropped in the above box, its hash value
            is calculated locally inside the browser (the file is not shared
            with anyone, preserving privacy);
            then, this hash value is submitted to the public
            <a href="www.opentimestamps.org">OpenTimestamps</a>
            calendar servers for attestation of its existence (timestamp); 
            a submission (<i>.ots</i>) receipt is locally downloaded.
            In time, the hash value will be attested in a Bitcoin block header
            and the receipt will become upgradable to attestation proof.
            <br>
            Indeed, if the file dropped in the above box is a (<i>.ots</i>)
            receipt or proof, first an upgraded proof is obtained from the
            calendar servers if available, then the receipt/proof status is
            displayed below.
        </p>
        <input id="dropbox1_input" type="file" style="display:none">

        <div class="statuses statuses_hashing" id="proof-status" style="display: none">
            <a href="#" class="statuses-info" style="display: none"></a>
            <p class="statuses-title">52%</p>
            <p class="statuses-description">Verifying</p>
        </div>

        <br>

        <div class="stamp-and-verify-drop-zone" id="dropbox2" style="display:none">
            <span class="filename"></span>
            <span class="filesize"></span>
            <p class="hash">Drop here the original file to check that its hash matches the stamped one.</p>
        </div>
        <input id="dropbox2_input" type="file" style="display:none">

        <br>
        <div class="statuses statuses_hashing" id="document-status" style="display: none">
            <p class="statuses-title">xx%</p>
            <p class="statuses-description">Hashing</p>
        </div>

        <br>

        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/tools" class="btn btn-primary btn-xl page-scroll">Deep Down Tutorial</a>
        </div>
    </div>
</section>