<section id="ots_howitworks" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How It Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                To avoid the inefficiency of one blockchain transaction
                for every timestamp, an OpenTimestaps server
                provides <em>aggregation</em> of multiple hashes
                (in a Merkle tree data structure)
                and performs their <em>attestation</em> in a single
                transaction (actually attesting only the tree root hash).
            </p>
            <p class="text-muted">
                While the OpenTimestamps
                protocol is blockchain agnostic,
                a timestamp is as reliable as the used blockchain:
                <ul>
                    <li class="text-muted">
                        very reliable when using Bitcoin
                        because that blockchain is secured by huge
                        computational power (<em>proof-of-work</em>);
                    </li>
                    <li class="text-muted">
                        much less reliable with other public
                        permissionless blockchains;
                    </li>
                    <li class="text-muted">
                        when used with private permissioned blockchain
                        its reliability depends on the trustworthiness
                        of the chain governance: in this case traditional
                        certification authorities are probably better.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                It should be obvious, but it is worth mentioning that timestamping
                (using the OpenTimestamps protocol or any alternative approach):
                <ul>
                    <li class="text-muted">
                    does not prove authorship (that should be proved using a
                    digital signature);
                    </li>
                    <li class="text-muted">
                    does not ensure veracity of the timestamped document.
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="{{ site.baseurl }}/ots-tutorial" class="btn btn-primary btn-xl page-scroll">Deep Down Tutorial</a>
        </div>
    </div>
</section>