<section id="ots_howitworks" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How It Works</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <p class="text-muted">
                A timestamp proves that a document existed in a
                specific status prior to a given point in time.
                A digital document can be timestamped attesting its
                hash value in a blockchain transaction; the timestamping
                and content of the transaction (including the hash
                value of the document) are secured by the computational
                effort performed after its blockchain inclusion.
                Tampering with the transaction is computationally
                intensive, to the limit of being economically
                prohibitive in the Bitcoin case.
            </p>
            <p class="text-muted">
                <a href="https://www.opentimestamps.org">OpenTimestamps</a>
                is a vendor-independent open protocol that defines a
                set of operations for creating provable blockchain
                timestamps and later independently verifying them;
                as such, it allows for third party auditability and
                is suitable for regulatory prescriptions.
            </p>
            <p class="text-muted">
                While anyone could realize a timestamp with the
                permissionless blockchain(s) by paying the appropriate
                transaction fees, there are public OpenTimestamps
                calendar servers,
                free to use without any registration or API key.
                To avoid the inefficiency of one blockchain transaction
                for every timestamp, a calendar server
                provides <em>aggregation</em> of multiple hashes
                (in a Merkle tree data structure)
                and performs their <em>attestation</em> in a single
                transaction (attesting the tree root hash). 
            </p>
            <p class="text-muted">
                This webpage is an interface to create timestamp proofs
                using the OpenTimestamps public calendar servers
                (e.g. <a href="https://btc.ots.dgi.io">btc.ots.dgi.io</a>):
                Bitcoin's blockchain is used as a timestamp notary, i.e.
                the proof is attested in a Bitcoin block header.
                OpenTimestamps proofs can be verified independently from any 
                server or facility, using a local
                <a href="http://bitcoincore.org/en/download/">Bitcoin Core</a>
                node; anyway, since a web-page cannot access the local
                filesystem, this page relies on public block-explorers
                for verification.
            </p>
            <p class="text-muted">
                While the OpenTimestamps
                protocol is blockchain agnostic,
                a timestamp is as reliable as the used blockchain:
                <ul>
                    <li class="text-muted">
                        very reliable when using Bitcoin
                        because that blockchain is secured by huge
                        computational power (<em>proof-of-work</em>);
                    </li>
                    <li class="text-muted">
                        much less reliable with other public
                        permissionless blockchains;
                    </li>
                    <li class="text-muted">
                        when used with private permissioned blockchain
                        its reliability depends on the trustworthiness
                        of the chain governance: in this case traditional
                        certification authorities are probably better.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                It should be obvious, but it is worth mentioning that timestamping
                (using the OpenTimestamps protocol or any alternative approach):
                <ul>
                    <li class="text-muted">
                    does not prove authorship (that should be proved using a
                    digital signature);
                    </li>
                    <li class="text-muted">
                    does not ensure veracity of the timestamped document.
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="{{ site.baseurl }}/ots-tutorial" class="btn btn-primary btn-xl page-scroll">Deep Down Tutorial</a>
        </div>
    </div>
</section>