<section id="ots_intro" class="ots">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">OpenTimestamps</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">

            <!-- introduction -->
            <div class="row">
                <p class="text-muted">
                    This webpage is an interface
                    to create and/or verify timestamp proofs using the
                    <a href="https://opentimestamps.org">OpenTimestamps</a>
                    protocol and its free public Bitcoin calendar servers.
                    [<em>If in a hurry, skip this introduction
                        and go straight away to
                        <a href="{{ site.baseurl }}/ots/#ots_stampverify">timestamping</a></em>.]
                </p>
                <p class="text-muted">
                    A timestamp demonstrates that a document existed in a
                    specific status prior to a given point in time, providing
                    a document with a certain sure date (e.g. postmark).
                    Law requires dates to be certified by
                    public officials and notary services;
                    for digital documents, timestamping is usually based on the
                    digital signature of a Certification Authority (CA).
                </p>
                <p class="text-muted">
                    Anyway, digital data can be securely timestamped using the
                    <em>attestation</em> of its <em>hash value</em>
                    in a blockchain transaction.
                    The hash value 'uniquely' identifies the document
                    (as if it were its digital fingerprint),
                    the transaction extends its native blockchain
                    timestamping to the included hash value,
                    therefore proving its
                    existence at a given point in time.
                    As a result,
                    the blockchain attestation of the hash value
                    proves the existence of the
                    original document itself prior to the timestamp moment.
                </p>
                <p class="text-muted">
                    The timestamping and content of a blockchain transaction
                    are secured by the amount of computational effort
                    performed after its inclusion in a block of the chain.
                    Indeed, the more blocks are added to the chain
                    after a given block,
                    the more computationally intensive is
                    tampering with the data of that block; even just trying
                    to alter the timestamp of a transaction
                    becomes technically and economically prohibitive,
                    especially in the Bitcoin case.
                </p>
                <p class="text-muted">
                    Although there are many ways to realize a timestamp,
                    <a href="https://opentimestamps.org"></a>OpenTimestamps</a>
                    is a vendor-independent blockchain-agnostic
                    open protocol that defines a
                    set of operations for creating provable blockchain
                    timestamps and later independently verifying them;
                    as such, it allows for third party auditability and
                    is suitable for regulatory prescriptions.
                </p>
                <p class="text-muted">
                    OpenTimestamps attestation proofs can be verified
                    independently from
                    any server, vendor, or centralized infrastructure, simply
                    using a local copy of the blockchain (e.g. a Bitcoin
                    <a href="http://bitcoincore.org/en/download/">full node</a>).
                    <b>Trust minimization</b> is achieved because of this
                    distributed, decentralized, independent, uncensorable,
                    and cross-jurisdictional design.
                    This webpage interface is just a facility and,
                    since a webpage cannot access the local filesystem,
                    relies on public Bitcoin block-explorers
                    (e.g. <a href="http://blockstream.info">blockstream.info</a>)
                    for verification.
                </p>
                <p class="text-muted">
                    To avoid the inefficiency of one blockchain transaction
                    for every timestamp, an OpenTimestamps server
                    provides <em>aggregation</em> of multiple
                    document hashes
                    in a <em>Merkle tree</em> data structure
                    and
                    attests only the hash
                    of the Merkle tree root.
                    Since the inclusion of a
                    hash value <em>leaf</em> in a Merkel tree
                    can be cryptographically proved and is
                    part of the attestation proof,
                    the single <em>attestation</em>
                    of the tree root implicitly attests
                    all the leaves.
                    This <em>aggregation before attestation</em>
                    approach results in
                    almost unlimited <b>scalability</b>.
                </p>
                <p class="text-muted">
                    While anyone could timestamp with any permissionless
                    blockchain by paying the appropriate transaction fees
                    (using the OpenTimestamps protocol
                    or any alternative approach),
                    for <b>convenience</b>
                    there are multiple public OpenTimestamps
                    <em>calendar servers</em> (e.g.
                    <a href="https://btc.ots.dgi.io">btc.ots.dgi.io</a>),
                    free to use without any registration or API key.
                    A single calendar server can offer its services to
                    multiple remote OpenTimestamps clients: verifiable
                    timestamp are created almost instantly.
                    The public free OpenTimestamps calendar servers
                    use Bitcoin as timestamp notary,
                    i.e. they make the Bitcoin transactions that will
                    ultimately attest hash values in the Bitcoin blockchain.

                </p>
            </div>

            <div class="col-lg-12 text-center">
                <a href="#ots_stampverify" class="page-scroll">
                    <button class="btn btn-primary">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </button>
                </a>
            </div>

        </div>
    </div>
</section>