<section id="ots" class="ots_desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How Does It Work?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                While anyone could realize a timestamp with any permissionless
                blockchain by paying the transaction fees,
                <a href="www.opentimestamps.org">OpenTimestamps</a> public calendar servers
                are free to use without any registration or API key.
                A calendar server (e.g. <a href="https://btc-ots.dgi.io">btc-ots.dgi.io</a>)
                aggregates multiple documents submitted by clients (like this page) and
                timestamps all of them at the same time using a single blockchain transaction.
            </p>
            <p class="text-muted">
                While the <a href="www.opentimestamps.org">OpenTimestamps</a> protocol is blockchain agnostic,
                a timestamp is as reliable as the used blockchain:
                <ul>
                    <li class="text-muted">
                        very reliable when using Bitcoin
                        because that blockchain is secured by huge
                        computational power (<em>proof-of-work</em>);
                    </li>
                    <li class="text-muted">
                        much less reliable with other public permissionless blockchains;
                    </li>
                    <li class="text-muted">
                        when used with private permissioned blockchain its reliability
                        depends on the trustworthyness of the chain governance: in this case
                        traditional certification authorities are probably better.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                It should be obvious, but it is worth mentioning that timestamping
                (using the OpenTimestamps protocol or any alternative approach):
                <ul>
                    <li class="text-muted">
                    does not prove authorship (that should be proved using a
                    digital signature);
                    </li>
                    <li class="text-muted">
                    does not ensure veracity of the timestamped document.
                    </li>
                </ul>
            </p>
        </div>
    </div>
</section>