<section id="ots_stampverify" class="ots" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <div class="text-center">
                <h2 class="section-heading">Timestamp and Verify</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">

            <div class="row">
                <p class="text-muted">
                    Use the box below to:
                </p>
                <ol class="text-muted">
                    <li>
                        <details>
                            <summary><b>Submit (the hash value of) a file for timestamping</b><br></summary>
                            When a file is dropped in the box:
                            <ol>
                                <li>
                                    its hash value is calculated locally inside
                                    the browser without disclosing the document
                                    to third parties, preserving privacy;
                                </li>
                                <li>
                                    the hash is then submitted to multiple
                                    redundant public OpenTimestamps servers
                                    to obtain an <em>attestation proof</em>
                                    of its existence (timestamp);
                                </li>
                                <li>
                                    A <em>submission receipt</em> is
                                    downloaded (as <i>.ots</i> filetype);
                                    this is not an attestation proof yet:
                                    it is incomplete and it cannot be verified
                                    immediately, as it can take up to few hours
                                    for the transaction to be included in the
                                    blockchain;
                                </li>
                                <li>
                                    In time, the hash value will be attested in
                                    a block: then, the servers it has been
                                    submitted to will be able to upgrade its
                                    submission receipt to attestation proof.
                                </li>
                            </ol>
                            As long as at least one server is properly
                            functioning, the timestamp will be ensured.
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary><b>Upgrade a submission receipt to attestation proof</b><br></summary>
                            If the file dropped in the box is a
                            submission receipt (filetype <em>*.ots</em>):
                            <ol>
                                <li>
                                    an upgrade to proof attestation is
                                    downloaded from the calendar servers
                                    if available;
                                </li>
                                <li>
                                    the proof, if any, is verified
                                    using public Bitcoin block-explorers.
                                </li>
                            </ol>
                        </details>
                    </li>
                    <li>
                        <details>
                            <summary><b>Verify an attestation proof</b><br></summary>
                            If the file dropped in the box is an
                            attestation proof (filetype <em>*.ots</em>):
                            <ol>
                                <li>
                                    an updated proof is downloaded
                                    from the calendar servers if available;
                                </li>
                                <li>
                                    the most recent proof available is verified
                                    using public Bitcoin block-explorers.
                                </li>
                            </ol>

                        </details>
                    </li>
                </ol>
            </div>
            <br>

            <!-- dropbox1 -->
            <div class="stamp-and-verify-drop-zone" id="dropbox1">
                <span class="instructions">
                    Drop here a file to <b>timestamp</b> it
                    or a receipt/proof (*.ots) to <b>verify</b> it.
                </span>
                <span class="filename"></span>
                <span class="filesize"></span>
                <br><br>
                <img src="{{ site.baseurl }}/img/ots/logo.svg" height="40">
                <br><br>
                <span class="hash"></span>
            </div>
            <input id="dropbox1_input" type="file" style="display:none">

            <!-- proof-status -->
            <div class="statuses statuses_hashing" id="proof-status" style="display: none">
                <a href="#" class="statuses-info" style="display: none"></a>
                <p class="statuses-title">52%</p>
                <p class="statuses-description">Verifying</p>
            </div>

            <!-- dropbox2 -->
            <br>
            <div class="stamp-and-verify-drop-zone" id="dropbox2" style="display: none">
                <span class="filename"></span>
                <span class="filesize"></span>
                <br><br>
                <img src="{{ site.baseurl }}/img/ots/logo.svg" height="40">
                <br><br>
                <span class="hash"></span>
            </div>
            <input id="dropbox2_input" type="file" style="display:none">

            <!-- document-status -->
            <div class="statuses statuses_hashing" id="document-status" style="display: none">
                <p class="statuses-title">xx%</p>
                <p class="statuses-description">Hashing</p>
            </div>

            <div class="col-lg-12 text-center">
                <br>
                <a href="#ots_warnings" class="page-scroll">
                    <button class="btn btn-primary">
                        <i class="fa fa-angle-down fa-2x"></i>
                    </button>
                </a>
            </div>

        </div>
    </div>
</section>