<!-- partners -->
<section class="partners" id="edu-partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education Program Partners</h2>
                <hr class="primary">
            </div>
        </div>
        {% for member in site.data.education_partners %}
        <div class="partners-i">
            <a href="{{ member.link }}" class="partners-link">
                <img src="{{ member.logo }}" alt="{{ member.name }}" width="{{ member.size }}">
            </a>        
        </div>
        {% endfor %}
</section>

<section class="partners" id="partners" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
        {% for member in site.data.partners %}
        <div class="partners-i">
            <a href="{{ member.link }}" class="partners-link">
                <img src="{{ member.logo }}" alt="{{ member.name }}" width="{{ member.size }}">
            </a>        
        </div>
        {% endfor %}
    </div>
</section>