<p class="text-muted">
    Becoming one of our
    <a href="{{ site.baseurl }}/#partners">partners</a>
    means empowering your business with
    a proper understanding of Bitcoin, crypto-assets, and
    blockchain technology.
    It is a strategic choice that will allow you to
    leverage unique opportunities
    while avoiding the irrational hype
    that pollutes these topics.
    <br>
    Our partnership program is
    aimed at
    consulting firms,
    financial institutions,
    insurance companies,
    innovative enterprises,
    software houses,
    corporates,
    lobbying groups,
    and regulators.
    <br>
    We offer you a continuous support
    in term of
    consulting, training, research, and development:
    we can help starting-up from early stage
    until you reach full autonomy,
    also cooperating with the academic world
    interested in the issues
    of our competence area.
</p>