 <!-- partners -->
 <section class="partners" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="partners-i">
            <a href="https://www2.deloitte.com/it" class="partners-link">
                <img src="img/partners/deloitte-logo.png" alt="Deloitte" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.diseade.unimib.it/it" class="partners-link">
                <img src="img/partners/bicocca-logo.png" alt="Bicocca" width="">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.cryptovalues.eu" class="partners-link">
                <img src="img/partners/cryptovalues-logo.png" alt="CryptoValues" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.faberbee.com/" class="partners-link">
                <img src="img/partners/faberbee-logo.svg" alt="FaberBee" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.oncecapital.com/" class="partners-link">
                <img src="img/partners/once-logo.png" alt="Once Capital Management" width="300">
            </a>
        </div>
    </div>
  </section>

  <section class="partners_white" id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education partners</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="partners-i">
            <a href="https://www.lseg.com/it/node/17837" class="partners-link">
                <img src="img/partners/LsegAcademy-logo.png" alt="Lseg" width="">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.fintechedulab.com/" class="partners-link">
                <img src="img/partners/edulab-logo.png" alt="Edulab" width="250">
            </a>
        </div>
        <!--<div class="partners-i">
            <a href="https://www.ambrosetti.eu/" class="partners-link">
                <img src="img/partners/ambrosetti-logo.png" alt="Ambrosetti" width="300">
            </a>
        </div>-->
    </div>
</section>