<section id="partnership" class="partnership">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partnership</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                Il mercato del lavoro e dei capitali (industria, finanza, venture capital) ha una 
                domanda forte e crescente per tecnici qualificati sui temi bitcoin e blockchain: 
                Digital Gold Institute vuole creare un <b>polo di eccellenza</b> che, partendo 
                dall’attività di ricerca e sviluppo, diventi un ambiente di incubazione per tecnici 
                ed innovatori qualificati a livello internazionale.
            </p>
            <p class="text-muted">
                Facendo leva sugli studenti ed i ricercatori coinvolti in lavori di tesi e stage, 
                l’obiettivo è diventare un centro che produca almeno una dozzina di figure 
                professionali qualificate all’anno, il cui network di 
                <a href="{{ site.baseurl }}/fullTeam">alumni</a> possa generare un ecosistema 
                di competenza e di innovazione. L'esperienza presso il Digital Gold Institute è 
                "centrifuga": un luogo da cui si passa per andare poi in altri lidi, magari 
                internazionali.
            </p>
            <p class="text-muted">
                Le direttrici dell'attività dell'Istito sono ricerca, sviluppo, formazione e rapporti 
                con le aziende, partendo evidentemente dai partner che ci sostengono ed in sinergia 
                con quel mondo accademico che si è mostrato attento e ricettivo al fenomeno bitcoin 
                e blockchain (ad es. Milano-Bicocca, Politecnico di Milano, ESSEC, ecc.).
            </p>
            <p class="text-muted">
                In particolare il Digital Gold Institute ha come ambiti di attenzione e di ricerca:
                <ul>
                    <li class="text-muted">
                        <b>Cryptography</b>: Schnorr signature, confidential transactions, MAST, etc.
                    </li>
                    <li class="text-muted">
                        <b>Notarization</b>: application for insurance, digital ID, etc.
                    </li>
                    <li class="text-muted">
                        <b>Monetary engineering</b>: stablecoin, Hayek money, signorage shares, etc.
                    </li>
                    <li class="text-muted">
                        <b>Transactions</b>: advanced wallet design, fee estimation, etc.
                    </li>
                    <li class="text-muted">
                        <b>Security</b>: digital asset safe custody techniques and processes, etc.
                    </li>
                    <li class="text-muted">
                        <b>Scaling solutions</b>: lightning network, simplicity, etc.
                    </li>
                    <li class="text-muted">
                        <b>Smart contracts</b>: MAST, simplicity, etc.
                    </li>
                    <li class="text-muted">
                        <b>Blockchain analysis and forensic</b>: BlockSci, Hammersbald, etc.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                L'istituto è diretto da Ferdinando Ametrano a cui si affianca un 
                <a href="{{ site.baseurl }}/fullTeam">team</a> giovane ed estremamente qualificato. 
            </p>
            <p class="text-muted">
                L’istituto è sostenuto da partnership qualificate: alcune sono pubbliche sul sito web, 
                altre riservate, altre ancora da annunciare a breve. Potete 
                <a href="https://bit.ly/contact-dgi">richiedere</a> l'elenco dei clienti per cui abbiamo 
                lavorato a titolo di referenza.
            </p>
            <p class="text-muted">
                Ai nostri partner offriamo come pacchetto base:
                <ul>
                    <li class="text-muted">
                        <b>una giornata al trimestre</b>, da utilizzare come si preferisce 
                        <a href="{{ site.baseurl }}/training_it/">formazione</a>, consulenza, supervisione 
                        progettuale, dialogo istituzionale, ecc.)
                    </li>
                    <li class="text-muted">
                        <b>l'accesso gratuito</b> per due persone a tutte le iniziative formative (ce ne sarà 
                        almeno una l'anno di standing a Milano)
                    </li>
                    <li class="text-muted">
                        <b>un report trimestrale</b> sull'ecosistema bitcoin: tecnologia, mercati e regolamentazione
                    </li>
                    <li class="text-muted">
                        <b>il logo del partner</b> sul sito dell'istituto ed in tutte le iniziative pubbliche, 
                        brochure, ecc.
                    </li>
                    <li class="text-muted">
                        <b>la possibilità di orientare il lavoro di ricerca</b> e le tesi di ricercatori e studenti, 
                        fatta salva l'approvazione della direzione scientifica dell'istituto
                    </li>
                    <li class="text-muted">
                        <b>la possibilità di dialogo privilegiato con gli studenti</b> in funzione di possibili stage, 
                        assunzioni, ecc.
                    </li>
                </ul>
            </p>
            <p class="text-muted"> 
                Potenziali partner possono <a href="https://bit.ly/contact-dgi">contattarci</a> per esplorare 
                assieme le opportunità di collaborazione.
            </p>
        </div>
    </div>
</section>