<!-- partners -->
<section class="partners" id="edu-partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Education Program Partners</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="partners-i">
            <a href="https://www.unimib.it/" class="partners-link">
                <img src="img/partners/bicocca-logo.png" alt="Bicocca" width="100">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.lseg.com/markets-products-and-services/business-services/academy"
                class="partners-link">
                <img src="img/partners/LSEG-Academy-logo.png" alt="LSEG Academy" width="100">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://hesec.extension.harvard.edu/webinars" class="partners-link">
                <img src="img/partners/HESEC-logo.png" alt="Harvard ESEC" width="200">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.ambrosetti.eu/" class="partners-link">
                <img src="img/partners/ambrosetti-logo-orig.png" alt="The European House - Ambrosetti" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.fintechedulab.com/" class="partners-link">
                <img src="img/partners/edulab-logo.png" alt="Fintech Edulab" width="200">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://www.craon.it" class="partners-link">
                <img src="img/partners/craon-2.png" alt="Craon" width="200">
            </a>
        </div>
    </div>
</section>

<section class="partners" id="partners" style="background-color:#f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="partners-i">
            <a href="https://www2.deloitte.com/it" class="partners-link">
                <img src="img/partners/deloitte-logo.png" alt="Deloitte" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://checksig.io/" class="partners-link">
                <img src="img/partners/checksig-logo.png" alt="CheckSig" width="150" height="auto">
            </a>
        </div>
        <div class="partners-i">
            <a href="https://cryptoassetlab.diseade.unimib.it/" class="partners-link">
                <img src="img/partners/cal6.png" alt="Crypto Asset Lab" width="150" height="auto">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.cryptovalues.eu" class="partners-link">
                <img src="img/partners/cryptovalues-logo.png" alt="CryptoValues" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.faberbee.com/" class="partners-link">
                <img src="img/partners/faberbee-logo.svg" alt="FaberBee" width="300">
            </a>
        </div>
        <div class="partners-i">
            <a href="http://www.oncecapital.com/" class="partners-link">
                <img src="img/partners/once-logo.png" alt="Once Capital Management" width="300">
            </a>
        </div>
    </div>
</section>