<ol class="text-muted">
    <li>
        <details>
            <summary><em><b>Report n.0 (2019-Q1)</b></em></summary>
            <ul>
                <li>
                    <b>Editorial</b>:
                    Quello che avete tra le mani (o più probabilmente sul vostro schermo) 
                    è il numero zero nella serie dei report trimestrali prodotti dal Digital Gold Institute.
                    L’intenzione è offrire uno sguardo, ampio come copertura e interessante nei giudizi, 
                    su cosa è accaduto nel mondo Bitcoin, cryptoasset e tecnologia blockchain. 

                    L’evento principale del primo trimestre 2019 non può che essere il lancio del nostro Istituto… 
                    ehm... no… :-) il “compleanno” di Bitcoin, che ha compiuto 10 anni il 3 gennaio. 
                    È stato divertente trovare “Happy 10th birthday, Bitcoin” proprio sulla copertina del Times,
                    il cui titolo dieci anni fa era stato inserito da Satoshi Nakamoto nel primo blocco 
                    della blockchain; con la scelta del titolo (“Il Cancelliere dello Scacchiere è sull’orlo 
                    del secondo piano di salvataggio per le banche”) Nakamoto manifestava una chiara 
                    consapevolezza del momento di crisi finanziaria e qualificava implicitamente 
                    Bitcoin come risposta alla crisi; dieci anni dopo i pareri se quella crisi sia stata
                    risolta sono discordanti: tra quantitative easing e tassi di interesse negativi c’è chi
                    teme che il peggio non sia davvero alle spalle. E cresce il numero di persone nel mondo che 
                    guardano a Bitcoin come possibile equivalente digitale dell’oro, asset di riserva 
                    sovranazionale ed incensurabile per una economia digitale e globale. 
                    Vale la pena apprezzare anche la valenza tecnica della scelta di Nakamoto di utilizzare 
                    un titolo di giornale per marcare temporalmente la creazione del primo blocco: 
                    l’inventore di Bitcoin dimostra di non aver creato alcun blocco prima di quella data, 
                    di non essersi quindi riservato una quota di Bitcoin a titolo di privilegio 
                    (nella forma di blocchi creati prima del lancio pubblico, o preminati come si dice in 
                    gergo tecnico). 
                    
                    In questi dieci anni Bitcoin è andato da zero a quattromila dollari, 
                    ma il compleanno non ha rappresentato una giornata celebrativa dal 
                    punto di vista delle quotazioni di mercato, arrivando pochi giorni dopo
                    il minimo di $3271 (16 dicembre 2018) che concludeva un crollo dei prezzi 
                    del 74% iniziato un anno prima quando Bitcoin era ai massimi di sempre 
                    ($19200 il 17 dicembre 2017). Bitcoin ci aveva già abituato in passato 
                    ad impressionanti drawdown: il -84.67% nel periodo 2013-2016 e soprattutto 
                    il -93.46% del 2011; la sua resilienza si è però confermata anche nel primo 
                    trimestre 2019 che ha visto un notevole recupero del +10,91%. Peraltro,
                    una delle migliori metriche per valutare la crescita di Bitcoin è la serie dei minimi 
                    per anno, in crescita sostanzialmente continua ed esponenziale (si veda figura 1).
                    Il raffreddarsi dell’euforia sul mercato ha paradossalmente favorito nel 2018 l’attenzione 
                    ai processi di sviluppo tecnologico piuttosto che alle dinamiche di prezzo: 
                    i regolatori hanno avuto il tempo di metabolizzare alcuni degli aspetti più innovativi 
                    e dirompenti, l’ecosistema si è in generale rafforzato e consolidato. 
                    Il primo trimestre 2019 ne ha raccolto molti frutti ed ha visto al tempo stesso 
                    anche una significativa ripresa dei corsi. Questi temi verranno approfonditi nel seguito 
                    del report che è diviso nelle sezioni mercato, tecnologia, regolamentazione ed ecosistema, 
                    che rappresentano le nostre chiavi di lettura privilegiate. Ogni riscontro su questo report 
                    è molto gradito essendo pensato e scritto per voi: partner, sostenitori e collaboratori 
                    dell’Istituto; l’intenzione è di renderlo sempre più utile a voi e per questo i suggerimenti
                    sono indispensabili, così come richieste di approfondimento ulteriore.
                </li>
                <li>
                    <b>Download the full version</b>:: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q1.pdf">2019Q1.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.1 (2019-Q2)</b></em></summary>
            <ul>
                <li>
                    <b>Editorial</b>: 
                    <em>Dopo il caloroso apprezzamento che avete riservato al numero zero di aprile (2019-Q1), 
                    ecco il numero uno nella serie dei report trimestrali prodotti dal Digital Gold Institute. 
                    L’intento resta quello di offrirvi uno sguardo sintetico ma ampio agli eventi che hanno 
                    caratterizzato l’ultimo trimestre, in questo caso 2019-Q2.
                    Senza girarci troppo attorno, è inevitabile che la notizia principale sia stata 
                    l’apprezzamento di Bitcoin che ha chiuso il trimestre a $10817, 
                    con una crescita del 163% rispetto al prezzo di riferimento del 31 marzo ($4105): 
                    ne discutiamo nella sezione mercato.
                    
                    L’altra notizia principale è l’annuncio di Libra, 
                    il coin promosso da Facebook attraverso la Libra Association, 
                    che dovrebbe arrivare nel primo semestre 2020. 
                    Si tratta di un evento estremamente significativo perché “sdogana” 
                    definitivamente l’idea che sia possibile e persino realistico 
                    trasferire valore attraverso strumenti di scambio digitali emessi da privati. 
                    Che Libra si concretizzi davvero come opportunità per gli oltre due 
                    miliardi di utenti Facebook o che sia fermata dai regolatori, 
                    si tratterà in entrambi i casi di uno snodo cruciale nella storia della moneta. 
                    Analizziamo il fenomeno Libra nella sezione ecosistema.
                    
                    Con questo numero debutta anche una sezione dedicata alle news del nostro Istituto: 
                    con la velocità di evoluzione e cambiamento che caratterizza le nostre giornate, 
                    noi stessi possiamo talvolta trascurare o dare per scontati i passi avanti 
                    che l’Istituto sta compiendo; a maggior ragione ci siamo accorti che voi, 
                    i nostri partner, non siete puntualmente aggiornati su tutte le novità. 
                    Fare il punto delle attività è quindi l’occasione per apprezzare il percorso comune, 
                    riconsiderare le scelte di indirizzo, fissare nuovi obiettivi. 
                    Tra le diverse attività del trimestre, la notizia principale è il lancio 
                    del “Crypto Asset Lab”, iniziativa di ricerca congiunta tra il Digital Gold Institute 
                    e l’Università degli Studi di Milano-Bicocca: vi raccontiamo del Lab, del suo 
                    convegno di lancio e delle sue linee di ricerca.

                    Non resistiamo alla tentazione di chiudere questo editoriale senza indulgere, 
                    almeno brevemente, nel folklore. Se lo scorso trimestre festeggiavamo i 10 anni di Bitcoin, 
                    questo trimestre ha visto l’anniversario del pizza-day: il 22 maggio 2010 
                    Laszlo pagava 10000 Bitcoin per due pizze. All’epoca si trattava della prima 
                    transazione che dava un controvalore a Bitcoin (0.0032 dollari per Bitcoin), 
                    al cambio attuale sono oltre 100 milioni di dollari: difficile immaginare 
                    pizze così buone da meritare un investimento simile.
                    
                    Al solito l’ultimo paragrafo è per ribadire che il report è pensato e scritto per voi: 
                    partner, sostenitori e collaboratori dell’Istituto; per renderlo sempre più utile sono 
                    indispensabili i vostri suggerimenti, così come eventuali richieste per ulteriori 
                    approfondimenti.</em>
                </li>
                <li>
                    <b>Download the full version</b>: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q2.pdf">2019Q2.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.2 (2019-Q3)</b></em></summary>
            <ul>
                <li>
                    <b>Editorial</b>: 
                    <em>Questo trimestre è stato caratterizzato dalle vicende legate a Libra, 
                    la valuta dell’omonimo consorzio promosso da Facebook. Nella sezione 
                    dedicata alla regolazione commentiamo (con qualche punta di provocazione intellettuale) 
                    quella che ci sembra una vicenda straordinariamente rivelatoria: il monopolio governativo 
                    della moneta è una delle trincee più calde della battaglia culturale liberale e libertaria. 
                    Se pensiamo a quanto travagliata è stata la separazione storica della Chiesa dallo Stato, 
                    possiamo avere idea di quanto sarà impervia e controversa la separazione tra Moneta e Stato. 
                    Ex-post sembrerà a tutti una ovvia conquista di civiltà e libertà, di cui beneficeranno sia 
                    la Moneta che lo Stato, ma ad oggi la “sovranità monetaria delle nazioni” è un paradigma 
                    che preserva l’ultimo tra i monopoli logicamente indifendibili. 
                    
                    Il fronte dei servizi finanziari per crypto-assets continua a presentare spunti di vivacità: 
                    questo trimestre ha debuttato il molto atteso contratto futures di Bakkt, caratterizzato da 
                    physical delivery, differentemente dal cugino di CME che è invece cash settled. 
                    La partenza è stata senza particolari trionfalismi, in linea con un trimestre in cui Bitcoin 
                    ha registrato una pesante performance negativa: il prezzo ha perso il -25% portando il 
                    rendimento dall’inizio dell’anno a +97%. Gli alt-coin si sono accodati, senza alcun 
                    velleitarismo, con la solita altissima correlazione che li rende sostanzialmente inutili 
                    anche dal punto di vista di diversificazione del rischio finanziario.

                    Il fronte che a noi sembra invece più promettente nell’ambito della nuova finanza per 
                    l’economia bitcoin e blockchain è quello dei servizi di custodia per crypto-assets, 
                    cruciale per l’ingresso nel mercato di investitori istituzionali e high-net-worth individuals: 
                    Coinbase, leader di mercato, ha acquisito il business istituzionale di Xapo; Bryan Bishop 
                    propone tecniche avanzate di self-custody. Il nostro istituto sta seguendo questi sviluppi 
                    con grande attenzione e sono imminenti novità della nostra ricerca che potrebbero avere 
                    una significativa rilevanza industriale.

                    Nel frattempo, lo sviluppo del protocollo Bitcoin prosegue la sua strada, 
                    sostanzialmente incurante tanto del dibattito regolamentare, quando delle dinamiche di prezzo. 
                    Nel nostro piccolo abbiamo contribuito sostenendo come Crypto Asset Lab 
                    (la joint-venture tra il nostro Istituto e l’Università Milano-Bicocca) 
                    la conferenza Scaling Bitcoin questo settembre a Tel Aviv. Scaling Bitcoin 
                    resta a nostro avviso il punto di riferimento tecnico a livello internazionale 
                    e siamo orgogliosi di essere “academic supporting organization” assieme a Stanford, 
                    MIT, Imperial College ed altre prestigiose università.</em>
                </li>
                <li>
                    <b>Download the full version</b>: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q3.pdf">2019Q3.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.3 (2019-Q4)</b></em></summary>
            <ul>
                <li>
                    Report still covered by loyalty.
                </li>               
            </ul>
        </details>
    </li>
</ol>