<ol class="text-muted">
    <li>
        <details>
            <summary><em><b>Report n.0 (2019-Q1)</b></em></summary>
            <ul>
                <li>
                    Editoriale
                </li>
                <li>
                    Scarica la versione integrale: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q1.pdf">2019Q1.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.1 (2019-Q2)</b></em></summary>
            <ul>
                <li>
                    Editoriale
                </li>
                <li>
                    Scarica la versione integrale: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q2.pdf">2019Q2.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.2 (2019-Q3)</b></em></summary>
            <ul>
                <li>
                    Editoriale
                </li>
                <li>
                    Scarica la versione integrale: 
                    <a href="{{ site.baseurl }}/docs/reports/2019Q3.pdf">2019Q3.pdf</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary><em><b>Report n.3 (2019-Q4)</b></em></summary>
            <ul>
                <li>
                    Report still covered by loyalty.
                </li>               
            </ul>
        </details>
    </li>
</ol>