<p class="text-muted">
    Our research activity includes
    quarterly <a href="{{ site.baseurl }}/reports">reports</a>
    on the bitcoin and blockchain ecosystem
    (in Italian, exclusive to our
    <a href="{{ site.baseurl }}/#partners">partners</a>)
    and the thesis works of our
    <a href="{{ site:url }}/full-team/#students">students</a>.
    <br>
    Anyway, the bulk of the activity
    is happening at the
    <a href="https://cryptoassetlab.diseade.unimib.it/">Crypto Asset Lab</a>
    (CAL),
    a joint research initiative with the University of Milano-Bicocca.
    The lab is focused on
    crypto-assets as investment opportunity, fintech innovation, and regulatory challenge,
    with special regard for their disruptive role in the future of money and finance.
    A meeting point between academia, industry, institutions, and regulators,
    CAL also promotes a
    <a href="https://cryptoassetlab.diseade.unimib.it/cal2020/">yearly conference</a>.
</p>