<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Research</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Cryptography
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Schnorr, confidential transactions, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Notarization
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                application for insurance, digital ID, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Monetary engineering
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                stable-coins, Hayek money, seigniorage shares, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Transactions
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                wallet design, fee estimation, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Security
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                digital asset custody tools & processes, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Scaling solutions
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                lightning network, sidechain, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Smart contracts
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                MAST, simplicity, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-3">
                <a href="#" class="portfolio-box">
                    <div class="project-category">
                        Blockchain analysis
                    </div>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                BlockSci, Hammersbald, etc.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
