<!-- Opentimestamps script-->
<script src="{{ site.baseurl }}/ots/javascripts/application.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/vendor/moment.min.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/vendor/moment-timezone-with-data-2012-2022.min.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/vendor/opentimestamps.min.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/crypto-js/crypto-js.js"></script>
<script src="{{ site.baseurl }}/ots/javascripts/index.js"></script>
