<!-- services -->
<section class=services id="services" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://dgi.io/partnership/">
                    <i class="fas fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Partnership Program</h3>
                    </a>
                    <p class="text-muted">
                        Aimed at consulting firms, financial institutions, insurance companies, 
                        innovative enterprises, corporates, lobbying groups, and regulators 
                        desiring a proper understanding of Bitcoin, crypto assets, and blockchain technology.  
                        We offer a continuous support in term of <b>consulting</b>, <b>training</b>, 
                        <b>research</b>, and <b>development</b>: we can help starting-up from early stage 
                        until you reach full autonomy, also cooperating with the academic 
                        world interested in the issues of our competence area.

                    </p>
                </div>
                <br>
                <div class="col-lg-12 text-center">
                    <a href="{{ site.baseurl }}/#partners" class="btn btn-primary btn-l page-scroll">Discover our Partners</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://dgi.io/training/"><i class="fas fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Training Program</h3>
                    </a>
                    <p class="text-muted">
                        We offer training and education on Bitcoin, crypto assets, blockchain, 
                        distributed ledger, smart contracts, and cryptography; these topics are 
                        framed as fintech innovation in the payment/value-transmission systems 
                        and as cultural meetings between the cypherpunk movement and the Austrian 
                        school of economics. This content can be offered in corporate or academic 
                        settings, public or private events, as a short talk, a single day workshop, 
                        or a structured training program over a few days.
                    </p>
                </div>
                <br>
                <div class="col-lg-12 text-center">
                    <a href="{{ site.baseurl }}/#edu-partners" class="btn btn-primary btn-l page-scroll">Educational Partners</a>
                </div>
            </div>
        </div>
    </div>
</section>
