<!-- services -->
<section class=services id="services" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://dgi.io/partnership/">
                    <i class="fas fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Partnership Program</h3>
                    </a>
                    <p class="text-muted">
                        Becoming one of our 
                        <a href="{{ site.baseurl }}/#partners">partners</a>
                        means empowering your business with a 
                        proper understanding of Bitcoin, crypto assets, 
                        and blockchain technology. 
                        It is a strategic choice that will allow you to 
                        leverage unique opportunities while avoiding the irrational hype
                        that pollutes any attempt to master these topics.
                        Our partnership program is aimed at consulting firms, 
                        financial institutions, insurance companies, innovative enterprises, 
                        software houses, corporates, lobbying groups, and regulators. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <a href="http://dgi.io/training/"><i class="fas fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Training Program</h3>
                    </a>
                    <p class="text-muted">
                        We offer training and education about Bitcoin, 
                        crypto assets, blockchain, distributed ledger, 
                        smart contracts, and cryptography: the program 
                        is based on the 
                        <a href="http://www.ametrano.net/bbt">Bitcoin and Blockchain Technology</a> 
                        course taught at Milano-Bicocca and other universities.
                        The content can be customized depending on requirements:
                        for corporate or academic settings, public or private events,
                        as a short talk, a single day workshop, or a structured 
                        learning program over few days. The training can be offered directly by us 
                        or through our <a href="{{ site.baseurl }}/#edu-partners">Educational Program Partners</a>, 
                        realized <i>on-site</i> at your premises or at our own locations.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-award wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <!--img src="{{ site.baseurl }}/img/ots/logo.svg" width="60" data-wow-delay=".2s" /-->
                    <h3>Research</h3>
                    <p class="text-muted">
                        tbd.
                        Must include:
                        Reports
                        CAL
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <!--i class="fas fa-4x fa-coins wow bounceIn text-primary" data-wow-delay=".3s"></i-->
                    <!--i class="fas fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".3s"></i-->
                    <i class="fas fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Development</h3>
                    <p class="text-muted">
                        tbd.
                        Must include:
                        ots 
                        btclib
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
