<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Ametrano.png" alt="Ametrano">
                <h4>Ferdinando Ametrano</h4>
                <p class="text-muted">Executive Director</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://github.com/fametrano">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ferdinandoametrano/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Ferdinando1970">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.ametrano.net/">
                            <i class="fa fa-globe"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-muted text-justify">
                    <a href="https://www.ametrano.net/bbt/">Bitcoin and Blockchain Technology</a> 
                    at Milano Bicocca and Politecnico di Milano. 
                    <a href="https://ssrn.com/abstract=2425270">Hayek Money</a> promoter, 
                    <a href="https://www.quantlib.org/">QuantLib</a> founder, 
                    <a href="https://www.ametrano.net/ird/">Interest Rate Derivatives</a> 
                    Adjunct Professor at Milano Bicocca. </br>
                    Ex-physicist, Springsteen fan, husband, father of three.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <img class="mx-auto rounded-circle" src="{{ site.baseurl }}/img/team/Mazzocchi.png" alt="Mazzocchi">
                <h4>Paolo Mazzocchi</h4>
                <p class="text-muted">Chief Operating Officier</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://github.com/pmazzocchi">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/paolo-mazzocchi-6672a591/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/MazzocchiPaolo">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 text-center">
                    <hr class="primary">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <a href="{{ site.baseurl }}/students">Currenct Students</a>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <a href="{{ site.baseurl }}/students">Alumni</a>
        </div>
    </div>
</section>