<!-- team -->
<section id="team" class="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Directors</h2>
                <hr class="primary">
            </div>
            {% include directors.html %}
        </div>
        <div class="col-lg-12 text-center">
            <a href="{{ site.baseurl }}/full-team" class="btn btn-primary btn-xl page-scroll">Full Team</a>
        </div>
    </div>
</section>
