<p class="text-muted">
    A timestamp demonstrates that a document existed in a
    specific status prior to a given point in time.
    Digital data can be securely timestamped though the
    <em>attestation</em> of its <em>hash value</em>
    in a blockchain transaction.
    <em>OpenTimestamps</em>
    is a vendor-independent open protocol that defines a
    set of operations for creating
    <a href="{{ site.baseurl }}/ots"><em>provable blockchain
    timestamps</em></a> and later independently verifying them;
    as such, it allows for third party auditability and
    is suitable for regulatory prescriptions.
    What jewelry is for gold, timestamping could be for Bitcoin:
    not essential but effective at leveraging its beauty.
</p>
