<section id="training" class="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Offerta formativa</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <p class="text-muted">
                DGI propone diversi moduli/workshop sui temi bitcoin,
                blockchain, distributed ledger, 
                smart contracts, crittografia, ecc.
            </p>
            <p class="text-muted">
                L'offerta formativa è basata sul corso 
                <a href="http://www.ametrano.net/bbt">Bitcoin and Blockchain Technology</a> del 
                Politecnico di Milano e Milano Bicocca; può essere ovviamente adattata alle 
                esigenze del committente ed erogata <i>on-site</i> o in nostre <i>location</i>. 
                Potete <a href="https://bit.ly/contact-dgi">contattarci</a> per esplorare assieme 
                le opportunità.
            </p>
            <p class="text-muted">   
                Si parte da una solida introduzione, accessibile a tutti perché non richiede 
                competenze preliminari, per avanzare fino a temi più tecnici ed implementativi 
                che richiedono una buona attitudine al pensiero matematico o computazionale.
            </p>
            <p class="text-muted">
                Il materiale didattico comprende le slide presentate in aula, i principali libri 
                di riferimento, codice e software open-source, ulteriori risorse di approfondimento. 
                Tale materiale resta a disposizione dei partecipanti anche nelle sue evoluzioni 
                successive al momento formativo.
            </p>
            <p class="text-muted">
                Di seguito trovate una presentazione orientativa di argomenti, materiali, tempi, 
                destinatari e modalità di formazione.
                Per ogni modulo formativo sono indicate le propedeuticità e l'audience ideale. 
                Ogni modulo può essere fruito in versione completa (tre ore) o ristretta (due ore): 
                per ogni modulo è suggerita un'ora aggiuntiva di sperimentazione in aula con portatile 
                e connessione internet.
            </p>
            <p class="text-muted">
                <ul>
                    <li class="text-muted">
                        I moduli <b>1, 7, 8</b> sono fruibili da tutti: c-level, manager funzionali, 
                        sviluppatori, ricercatori, appassionati di tecnologia.
                    </li>
                    <li class="text-muted">
                        Il modulo <b>2</b> inizia a scendere nel funzionale, perde quindi un po' di appeal per i 
                        c-level ma è sempre molto apprezzato perché apre ad una comprensione reale e 
                        non superficiale.
                    </li>
                    <li class="text-muted">
                        I moduli <b>3 e 4</b> rispettivamente di crittografia e approfondimento su tematiche 
                        di frontiera è estremamente tecnico e rivolto ad una audience di ingegneri, matematici, 
                        fisici, informatici.
                    </li>
                    <li class="text-muted">
                        I moduli <b>5 e 6</b> sono tecnici, più orientati quindi verso gli sviluppatori.
                    </li>
                </ul>
            </p>
            <p class="text-muted">
                Una giornata generalista può includere
                il modulo 1 ed a scelta 2, 7 o 8;
                un workshop di due giorni può caratterizzarsi funzionalmente
                (1, 2, 7, 8) o tecnicamente (1, 2, 3, 5, 6).
                L'insieme di tutti i moduli è fruibile in quattro giornate. 
                L'esperienza suggerisce che, a meno di corsi residenziali,
                è meglio prevedere unità formative di mezza giornata.
            </p>
            <p class="text-muted">
                Il training può essere svolto in <b>inglese</b> o <b>italiano</b>,
                il materiale distribuito è in <b>inglese</b>.                
            </p>
        </div>
        <div class="col-lg-12 text-center">
            <a href="#modules" class="btn btn-primary btn-xl page-scroll">Contenuto dei moduli</a>
        </div>
    </div>
</section>