<section class="" id="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Training and Education</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row col-lg-8 col-lg-offset-2">
                <p class="text-muted">
                    DGI offers training and education on Bitcoin, blockchain,
                    distributed ledger, smart contracts, and cryptography;
                    these topics are framed as <em>fintech innovation</em>
                    in the payment/value-transmission systems and
                    as cultural meeting between the <em>cypherpunk</em> 
                    movement and the Austrian school of economics.
                    This content can be offered in corporate or 
                    academic settings, public or private events,
                    as short talk, single day workshop, or structured 
                    training program over few days.
                </p>
                <!--<h3 class="text-center">Next Training Event</h3>
                <a href="https://www.craon.it/blockchain-dates-early-bird/">
                    <img src="{{ site.baseurl }}/img/blockchain_dates/banner-orizzontale.jpg" class="aligncenter" width="100%" height="auto">
                </a>-->
            </div>
        </div>
    </div>
    <br>
    <div class="col-lg-12 text-center">
        <a href="{{ site.baseurl }}/training" class="btn btn-primary btn-xl page-scroll">Training and Education Program</a>
    </div>    
</section>
