<section id="vision" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vision</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-btc wow bounceIn text-primary"></i>
                    <h3>Bitcoin: Digital Gold</h3>
                    {% include bitcoin_header.html %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-link wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Blockchain: Hype or Reality?</h3>
                    {% include blockchain_header.html %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-stamp wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Beyond Bitcoin: Timestamping</h3>
                    {% include timestamping_header.html %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-coins wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Financial Services for Crypto</h3>
                    {% include cryptofinance_header.html %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-message"><em>Vision Makes A Difference</em></h2>
            </div>
        </div>
    </div>
</section>
