<!-- vision -->
<section class=vision id="vision" style="background-color:#f4f4f4;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Vision</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-btc wow bounceIn text-primary"></i>
                    <h3>Bitcoin: Digital Gold</h3>
                    <p class="text-muted">
                        Bitcoin has proved to be a bearer digital asset that
                        can be transferred but not duplicated. 
                        Scarce in digital realm as nothing else before,
                        <em>bitcoin is digital gold with a secure embedded
                        settlement network</em>.
                        More a crypto-commodity then a crypto-currency, bitcoin
                        aims to be a world reserve asset. 
                        The digital equivalent of gold could be disruptive in
                        the current digital civilization and the future of
                        money and finance. 
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-chain wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Blockchain: Hype or Reality?</h3>
                    <p class="text-muted">
                        Blockchain is an append-only sequential data structure:
                        to change a block in the middle of the chain all
                        subsequent blocks need to be changed.
                        It is very inefficient if compared to a
                        relational database: it is mostly an idiosyncratic
                        technology for digital scarcity.
                        Indeed, <em>blockchain requires an
                        intrinsic native digital asset</em>
                        to provide the economic incentives for the
                        blockchain maintainers to be honest. 
                        Without the seigniorage revenues associated to its
                        native asset, a blockchain system would need to select
                        and appoint its maintainers,
                        ultimately resorting to central governance.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-file-text-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Beyond Bitcoin: Timestamping</h3>
                    <p class="text-muted">
                        A timestamp proves that a document existed in a
                        specific status prior to a given point in time.
                        Digital data can be securely timestamped attesting
                        it in a blockchain transaction.
                        <em>OpenTimestamps</em>
                        is a vendor-independent open protocol that defines a
                        set of operations for creating
                        <a href="{{ site.baseurl }}/ots"><em>provable blockchain
                        timestamps</em></a> and later independently verifying them;
                        as such, it allows for third party auditability and
                        is suitable for regulatory prescriptions.
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bank wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Financial Services for Crypto</h3>
                    <p class="text-muted">
                        Even if one is only interested in genuine technological
                        applications of blockchain, the most promising field is
                        the development of <em>tools and practices for
                        crypto-assets financial services</em>, primarily
                        custody for institutional investors
                        and high net worth individuals.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-message"><em>Digital gold is what matters</em></h2>
            </div>
        </div>
    </div>
</section>
