    html,
    body {
        height: 100%;
        width: 100%;
    }

    body {
        @include serif-font;
    }

    hr {
        border-color: $theme-primary;
        border-width: 3px;
        max-width: 50px;
    }

    hr.light {
        border-color: white;
    }

    a {
        @include transition-all;
        color: $theme-primary;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $theme-primary;
        @include sans-serif-font;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .bg-primary {
        background-color: $theme-primary;
    }

    .bg-white {
        background-color: white;
    }

    .bg-dark {
        background-color: $theme-dark;
        color: white;
    }

    .text-faded {
        color: rgba(white, .7);
    }

    .text-small {
        font-size: 14px;
    }

    .padding{
        padding: 30px;
    }

    section {
        padding: 100px 0;
    }

    aside {
        padding: 50px 0;
    }

    .no-padding {
        padding: 0;
    }

    // Navigation
    .navbar-default {
        background-color: black;
        border-color: rgba($theme-dark, .5);
        @include sans-serif-font;
        @include transition-all;
        .navbar-header 
        .navbar-brand {
            color: $theme-primary;
            text-align: center;
            @include sans-serif-font;
            font-weight: 800;
            padding: 5px;
            height: 60px;
            //text-transform: uppercase;
            &:hover,
            &:focus {
                color: darken($theme-primary, 10%);
            }
        }
        .nav {
            > li {
                > a,
                > a:focus {
                    //text-transform: uppercase;
                    font-weight: 800;
                    font-size: 16px;
                    color: white;
                    &:hover {
                        color: white;
                    }
                }
                &.active {
                    > a,
                    > a:focus {
                        color: white !important;
                        background-color: black;
                        &:hover {
                            background-color: black;
                        }
                    }
                }
            }
        }
        @media (min-width: 768px) {
            background-color: black;
            border-color: rgba(black, .3);
            .navbar-header .navbar-brand {
                color: rgba(black, .7);
                &:hover,
                &:focus {
                    color: black;
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-primary;
                &:hover {
                    color: white;
                }
            }
            &.affix {
                background-color: black; // background not in top-page 
                border-color: rgba($theme-dark, .5);
                .navbar-header .navbar-brand {
                    color: white;
                    font-size: 14px;
                    height: 50px;
                    &:hover,
                    &:focus {
                        color: darken($theme-primary, 10%);
                    }
                }
                .nav > li > a,
                .nav > li > a:focus {
                    font-size: 14px;
                    color: $theme-primary; // text color all line
                    &:hover {
                        color: white; // text color not in top-page when over with pointer
                    }
                }
            }
        }
    }

    // Homepage Header

    header {
        position: relative;
        width: 100%;
        min-height: auto;
        @include background-cover;
        background-position: center;
        background-image: url('../img/header.jpg');
        background-color: white;
        text-align: center;
        color: black;
        .header-content {
            position: relative;
            text-align: center;
            padding: 100px 15px 100px;
            width: 100%;
            .header-content-inner {
                h1 {
                    font-weight: 100;
                    font-size: 30px;
                    margin-top: 100;
                    margin-bottom: 100;
                    color: white;
                    background-color: black;
                }
                h2 {
                    font-weight: 100;
                    font-size: 20px;
                    margin-top: 100;
                    margin-bottom: 100;
                    background-color: black;
                }
                hr {
                    margin: 30px auto;
                }
                p {
                    font-weight: 100;
                    font-size: 14px;
                    margin-bottom: 20px;
                    //text-align: justify;
                    color: white;
                    background-color: black;
                }
            }
        }
        @media (min-width: 768px) {
            min-height: 100%;
            .header-content {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 0 50px;
                .header-content-inner {
                    max-width: 1000px;
                    margin-left: auto;
                    margin-right: auto;
                    p {
                        font-size: 18px;
                        max-width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }

    // Homepage Footer
    footer {
        padding: 25px 0;
        background-color: black;
        text-align: center;

        .list-inline-item {
            position: center;
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            line-height: 130px;
            text-align: center;
          }

        p{
            color:white;
            font-size: 10px;
        }

        ul.social-buttons {
            margin-bottom: 0;
            li {
              a {
                font-size: 15px;
                line-height: 40px;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                color: $theme-primary;
                border-radius: 100%;
                outline: none;
                background-color: black;
                &:active,
                &:focus,
                &:hover {
                  background-color: $theme-primary;
                  color: white
                }

              }
            }
        }
    }
    
    // Sections

    .vision,
    .ots,
    .ots_desc,
    .partnership,
    .training,
    .team {
        position: relative;
        width: 100%;
        min-height: auto;
        background-position: center;
    }
    .vision,
    .ots_desc{
        background-color: rgb(244, 244, 244);
    }
    .partnership,
    .training,
    .ots_desc{
        p{
            padding: 0px 10px 0px;
        }
        li{
            padding: 0px 0px 0px;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 15px;

        }
    }

    .section-heading {
        margin-top: 0;
    }

    .section-message {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .image {
        margin: 0 20px 0;
        position: relative;
        width: 100%;
        min-height: auto;
        @include background-cover;
        background-position: center;
        background-image: url('../img/btc yes.png');
        text-align: center;
    }

    .service-box {
        max-width: 400px;
        margin: 50px auto 0;
        @media (min-width: 992px) {
            margin: 20px auto 0;
        }
        p {
            text-align: justify;
            margin-bottom: 0;
        }
    }

    .portfolio-box {
        position: relative;
        display: block;
        margin: 15px 15px;
        width: 300px;
        height: 200px;
        .project-category {
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            @include sans-serif-font;
            padding: 0 15px;
            position: absolute;
        }
        .portfolio-box-caption {
            color: white;
            opacity: 0;
            display: block;
            background: rgba( $theme-primary, .9 );
            position: absolute;
            bottom: 0;
            text-align: center;
            width: 300px;
            height: 200px;
            @include transition-all;
            .portfolio-box-caption-content {
                width: 100%;
                text-align: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                .project-name {
                    @include sans-serif-font;
                    padding: 0 15px;
                    font-size: 18px;
                }
            }
        }
        &:hover {
            .portfolio-box-caption {
                opacity: 1;
            }
        }
        @media (min-width: 768px) {
            .portfolio-box-caption {
                .portfolio-box-caption-content {
                    .project-category {
                        font-size: 16px;
                    }
                    .project-name {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .call-to-action {
        h2 {
            margin: 0 auto 20px;
        }
    }

    .partners {
        padding: 80px 0 30px;
        font-size: 0;
        background-color: rgb(244, 244, 244);
    
        @media (max-width: $container-responsive--width) {
        padding: 40px 0;
        }
    
        $this: &;
    
        img {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        }

        &-i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
        height: 130px;
        margin-bottom: 50px;
        box-sizing: border-box;
        padding: 0 10px;
        line-height: 130px;
        text-align: center;
    
        @media (max-width: $container-responsive--width) {
            width: 100%;
            height: auto;
            margin-bottom: 40px;
            line-height: normal;
        }
    
        &:last-child {
            @media (max-width: $container-responsive--width) {
            margin-bottom: 0;
            }
        }
        }
    
        &-link {
        &:hover #{$this}-name {
            text-decoration: underline;
        }
        }
    }

    // Bootstrap Overrides
    .text-primary {
        color: $theme-primary;
    }

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    // Button Styles
    .btn-default {
        @include button-variant($theme-dark, white, white);
    }

    .btn-primary {
        @include button-variant(white, $theme-primary, $theme-primary);
    }

    .btn {
        @include sans-serif-font;
        border: none;
        border-radius: 300px;
        font-weight: 700;
    }

    .btn-xl {
        padding: 15px 30px;
    }

    // Contact
    #contact .fa {
        color: $theme-dark;
        font-size: 4em;
    }

    // Extras
    // -- Highlight Color Customization
    ::-moz-selection {
        color: white;
        text-shadow: none;
        background: $theme-dark;
    }

    ::selection {
        color: white;
        text-shadow: none;
        background: $theme-dark;
    }

    img::selection {
        color: white;
        background: transparent;
    }

    img::-moz-selection {
        color: white;
        background: transparent;
    }

    body {
        -webkit-tap-highlight-color: $theme-dark;
    }
