$mobile--width: 414px;
$container-responsive--width: 980px;

.stamp-and-verify {
  padding: 50px 0;
  //background-color: #f9f9f9;

  @media (max-width: $container-responsive--width) {
    padding: 40px 0;
  }

  .container {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 0px; /*width: 1px;*/
      background-color: #dadada;

      @media (max-width: $container-responsive--width) {
        display: none;
      }
    }
  }

  &-block-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: left;

    @media (max-width: $container-responsive--width) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &-title {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  &-description {
    margin-bottom: 25px;
    color: #888;
    line-height: 20px;
    word-break: break-all;
    font-size: 14px;
  }

  &-stamp,
  &-verify {
    float: left;
    width: 50%;
    box-sizing: border-box;

    @media (max-width: $container-responsive--width) {
      float: auto;
      width: 100%;
      padding: 0 !important;
    }
  }

  &-stamp {
    padding-right: 60px;

    @media (max-width: $container-responsive--width) {
      margin-bottom: 40px;
    }
  }

  &-verify {
    padding-left: 60px;
  }

  &-drop-zone {
    cursor: pointer;
    position: relative;
    transition: 0.3s border-color;
    height: 180px;
    padding-top: 96px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px dashed #777;
    background-color: #fff;
    background-image: url('/img/ots/upload.svg');
    background-repeat: no-repeat;
    background-position: center top 30px;
    color: $theme-primary;
    line-height: 20px;
    text-align: center;

    &:hover {
      border-color:$theme-primary;
    }
  }

  &-result {
    padding-left: 40px;
  }

  &-button {
    cursor: pointer;
    outline: none;
    margin: 30px 0 0;
    padding: 0 20px;
    border: 0;
    background-color: $theme-primary;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    @media (max-width: $mobile--width) {
      width: 100%;
      font-weight: bold;
    }
  }
}
