@mixin image-2x($image, $width: 100%, $height: 100%) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    background-image: url($image);
    background-size: $width $height;
  }
}

.statuses {
  position: relative;
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  padding: 15px 15px 15px 50px;

  &:before {
    @include image-2x('/img/ots/statuses@2x.png', 24px, 72px);
    content: '';
    position: absolute;
    left: 15px;
    top: 17px;
    background-image: url('/img/ots/statuses.png');
  }

  &_stamping,
  &_hashing,
  &_success {
    border-color: $theme-primary;
    background-color: #f4f4f4;
    color: $theme-primary;
  }

  @-webkit-keyframes rotating {
      from{
          -webkit-transform: rotate(0deg);
      }
      to{
          -webkit-transform: rotate(360deg);
      }
  }

  &_hashing {
    &:before {
      -webkit-animation: rotating 2s linear infinite;
    }
  }

  &_stamping,
  &_hashing {
    &:before {
      width: 18px;
      height: 24px;
      background-position: 0 -24px;
    }
  }

  &_success {
    &:before {
      width: 24px;
    	height: 24px;
    	background-position: 0 -48px;
    }
  }

  &_failure {
    border-color: #d1071a;
    background-color: #f4f4f4;
    color: #d1071a;

    &:before {
      width: 24px;
      height: 24px;
      background-position: 0 0;
    }
  }
  &_warning {
    border-color: #faebcc;
    background-color: #f4f4f4;
    color: #8a6d3b;

    &:before {
      width: 24px;
      height: 24px;
      background-position: 0 0;
      @include image-2x('/img/ots/pending@2x.png', 24px, 24px);
    }
  }

  &-title {
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }

  &-description {
    font-size: 14px;
  }
}
