---
layout: default
---

<section id="posts" class="newspage">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ page.title }}</h2>
                <h3>{{ page.subtitle }}</h3>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <article class="post">
                <p class="pdate text-muted">{{ page.date | date: "%b %e, %Y" }}</p>

                <p>{% include share-bar.html %}</p>

                <p>{{ content }}</p>

                <p>{% include share-bar.html %}</p>

            </article>
        </div>
    </div>
</section>
