---
layout: page
---

<section id="posts" class="newspage">
    <div class="container">
        <div class="row col-lg-8 col-lg-offset-2">
            <h2>{{ page.title }}</h2>

            {% if page.image %}
            <p>
                <img src="{{ site.baseurl }}/img/posts/{{ page.image.main }}" class="aligncenter" width="100%"
                    height="auto">
            </p>
            {% endif %}

            <article class="post">
                <p class="pdate">{{ page.date | date: "%b %e, %Y" }} |
                    <i> {{ page.author }}</i>
                </p>

                <p>{% include share-bar.html %}</p>

                <h3>{{ page.subtitle }}</h3>

                <p>{{ content }}</p>

                {% if page.youtube_video %}
                <div class='embed-container'>
                    <iframe src='https://www.youtube.com/embed/{{ page.youtube_video }}' frameborder='0'
                        allowfullscreen></iframe>
                </div>
                {% endif %}

                <p>{% include share-bar.html %}</p>

            </article>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ site.baseurl }}/news" class="btn btn-primary btn-xl">All News</a>
    </div>
</section>